/**
 * _settings.scss
 *
 * Configurable elements common to all Kara.Reviews theming.
 */

@use "sass:map";

/**
 * Colours
 *
 */
$colours: (
  "red": (
    "900": (0, 75%, 15%),
    "800": (0, 65%, 25%),
    "700": (0, 65%, 30%),
    "600": (0, 60%, 35%),
    "500": (0, 60%, 40%),
    "400": (0, 60%, 60%),
    "300": (0, 50%, 75%),
    "200": (0, 45%, 80%),
    "100": (0, 40%, 90%),
  ),

  "grey": (
    "900": (320, 8%, 10%),
    "800": (320, 8%, 22%),
    "700": (320, 8%, 35%),
    "600": (320, 8%, 45%),
    "500": (320, 8%, 55%),
    "400": (320, 5%, 68%),
    "300": (320, 5%, 80%),
    "200": (320, 2%, 90%),
    "100": (320, 2%, 97%),
  ),

  "gold": (
    "900": (33, 62%, 20%),
    "800": (33, 62%, 28%),
    "700": (33, 62%, 37%),
    "600": (33, 62%, 45%),
    "500": (33, 62%, 55%),
    "400": (33, 62%, 65%),
    "300": (33, 62%, 78%),
    "200": (33, 62%, 85%),
    "100": (33, 62%, 92%),
  ), 

  "purple": (
    "900": (320, 50%, 20%),
    "800": (320, 55%, 25%),
    "700": (320, 60%, 25%),
    "600": (320, 60%, 33%),
    "500": (320, 71%, 33%),
    "400": (320, 40%, 50%),
    "300": (320, 40%, 60%),
    "200": (320, 25%, 70%),
    "100": (320, 10%, 90%),
  ), 

  "blue": (
    "900": (219, 70%, 20%),
    "800": (219, 65%, 22%),
    "700": (219, 60%, 25%),
    "600": (219, 50%, 28%),
    "500": (219, 50%, 32%),
    "400": (219, 50%, 40%),
    "300": (219, 40%, 60%),
    "200": (219, 35%, 70%),
    "100": (219, 30%, 80%),
  ), 

  "green": (
    "900": (90, 30%, 20%),
    "800": (90, 27%, 30%),
    "700": (90, 27%, 35%),
    "600": (90, 25%, 40%),
    "500": (90, 25%, 50%),
    "400": (90, 25%, 55%),
    "300": (90, 22%, 60%),
    "200": (90, 22%, 70%),
    "100": (90, 18%, 80%),
  ),
);

:root {
  @each $name, $shades in $colours {
    @each $shade, $value in $shades {
        --#{$name}-#{$shade}: hsl(#{$value});
    }
  }
}

@function alpha($colour, $shade, $alpha) {
  $c: map.get($colours, $colour);
  @return unquote("hsla(" + map.get($c, $shade) + ", " + $alpha + ")");
}


/**
 * Font families
 */
$f-serif: "EB Garamond", Garamond, Palatino, "Times New Roman", serif;
$f-sans: Oswald, Verdana, Arial, sans-serif;


/**
 * Some UI components can be defined as variables for consistent styling.
 */
$global-radius: 5px;
$global-transition: all 300ms ease-in-out;

$max-width: 60rem !default;
$max-text-width: 50rem !default;
