<!doctype html>
<html class="lg:text-lg xl:text-xl bg-marble-50 text-marble-700 scroll-pt-10" lang="en">
    <head>
        <title>{% block page_title %}{{ page_title }} | Kara.Reviews{% endblock %}</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <meta name="twitter:site" content="@tachyondecay">
        <meta name="twitter:creator" content="@tachyondecay">
        <meta property="fb:app_id" content="802871086913639">

        {% block open_graph %}
        <meta property="og:url" content="{{ request.base_url }}" />
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ self.page_title() }} | Kara.Reviews" />
        <meta property="og:description" content="15 years. {{ g.total }} reviews. And I keep on reading." >
        <meta property="og:image" content="{{ url_for('.static', filename='images/kara.reviews-logo-alternate_white.png', _external=True) }}">
        <meta property="og:image:width" content="955">
        <meta property="og:image:height" content="500">
        <meta name="twitter:card" content="summary_large_image">
        {% endblock %}

        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400&family=Oswald:wght@300;400;700&display=swap" rel="stylesheet">
        {% block styles %}
        <link rel="stylesheet" href="{{ url_for('.static', filename='css/reviews.css') }}"/>
        {% endblock %}

        {% block scripts %}
        {% endblock %}

        {% block feeds %}
        <link rel="alternate"  href="{{ url_for('reviews.show_feed', format='rss') }}" title="All Reviews - RSS"/>
        <link rel="alternate" href="{{ url_for('reviews.show_feed', format='atom') }}" title="All Reviews - Atom"/>
        {% endblock %}

        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('.static', filename='kara.reviews/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('.static', filename='kara.reviews/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('.static', filename='kara.reviews/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ url_for('.static', filename='kara.reviews/site.webmanifest') }}">
    </head>
    <body class="{% block body_classes %}{%endblock body_classes %}">
    <div class="flex sticky top-0 z-10 justify-center items-center px-8 h-10 bg-red-900 shadow-md md:justify-between shadow-marble-600/50">
        <div class="hidden mr-4 md:block md:overflow-hidden md:flex-1 md:text-red-50 md:whitespace-nowrap md:text-ellipsis">{{ self.page_title() }}</div>
        <div>
            <a class="mr-8 text-red-50 before:content-['⬆']" href="#top" title="Jump to top of page">Start</a>
            <a class="text-red-50 after:content-['⬇']" href="#colophon" title="Jump to footer">End</a>
        </div>
    </div>
    {% block body_main %}
        <header class="border-t-8 border-red-900 lg:flex lg:absolute lg:top-0 lg:right-0 lg:left-0 lg:z-30 lg:px-11 lg:pt-6 lg:pb-4 lg:text-lg lg:bg-neutral-50" id="top">
            {% block navigation %}
            <nav class="flex relative z-20 flex-col pb-3 md:flex-row md:items-end md:pt-6 lg:p-0 lg:bg-transparent -mt-[2.1rem] bg-marble-100 md:bg-neutral-50 lg:grow-[2] lg:shrink lg:basis-auto" aria-label="Primary Site Navigation">
                <div class="flex border-b shadow-md md:flex-1 md:ml-6 md:rounded-md md:border-b-0 lg:mr-3 lg:ml-6 border-marble-500 shadow-marble-200/25 md:basis-1/5 lg:grow-[3]">
                    <form action="/search/" class="contents">
                        <input type="search" class="p-3 text-violet-800 border-0 opacity-50 transition-all duration-300 md:rounded-l-lg focus:ring-inset focus:ring-yellow-500 focus:opacity-100 peer grow-[3]" name="q" placeholder="Search reviews…" value="{{ request.args.get('q', '') }}">
                        <button type="submit" value="Go" title="Search" class="text-center transition-all md:rounded-r-lg duration-600 basis-20 bg-marble-50 text-marble-400 peer-focus:bg-yellow-600/20 peer-focus:text-yellow-600 md:grow-0 md:shrink md:basis-10 hover:bg-yellow-600/20">
                            <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
  <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
</svg>
                        </button>
                    </form>
                </div>

                <ul role="list" class="flex flex-wrap justify-around items-center my-3 md:flex-auto md:justify-end md:my-0 md:mr-3">
                    {% for link in sitenav %}
                    <li class="m-3 md:my-0">
                        <a class="border-b-2 uppercase lg:text-sm{{ ' border-amber-600 text-amber-600' if request.endpoint == link[1] else ' border-red-900  hover:border-pink-700  focus:border-pink-700' }} " href="{{ url_for(link[1]) }}" title="{{ link[2] }}">{{ link[0] }}</a>
                    </li>
                    {% endfor %}
                </ul>

                <a href="#colophon" class="inline-block flex-1 mx-auto text-xs after:content-['↴'] border-b-2 uppercase border-red-900 md:mx-3  hover:border-pink-700  focus:border-pink-700">Jump to End</a>
            </nav>
            {% endblock navigation %}

            <div class="my-6 sm:text-center lg:order-first lg:m-0 lg:flex-0 lg:grow-0 lg:shrink-0 lg:basis-auto">
                <a href="/">
                    <img class="mx-auto max-w-full lg:max-h-12 max-h-[20vmax]" src="{{ url_for('.static', filename='images/kara.reviews-logo.png') }}" alt="Kara.Reviews">
                </a>
            </div>

            {% block header_end %}{% endblock header_end %}
        </header>
    {% endblock body_main %}

    {% block body_footer %}
        <footer class="p-3 mt-24 md:mt-36 lg:p-0 lg:bg-transparent bg-marble-100 border-b-[6px] border-b-red-900" id="colophon">
            <h2 class="sr-only">Colophon</h2>

            {# block newsletter %}
            <div class="my-12 sm:my-6 lg:mx-auto lg:max-w-2xl lg:rounded-b-lg lg:border-t-8 lg:border-yellow-500 lg:shadow-md lg:shadow-marble-600/50">
                <form action="https://tinyletter.com/karababcock" method="post" target="_blank">
                    <input type="hidden" value="1" name="embed"/>

                    <h3 class="px-3 mt-6 text-2xl font-bold lg:px-6">Want my reviews in your inbox?</h3>

                    <p class="px-3 mt-3 font-serif lg:px-6">Subscribe to my occasional newsletter! Every month or so, you’ll receive a digest email of my latest reviews and a brief bookish thought or two.</p>
                    <div class="flex flex-col px-3 mx-auto mt-12 lg:flex-row lg:flex-wrap lg:justify-center lg:items-baseline">
                        <label for="newsletter-email" class="sr-only">Enter your email address</label>
                        <input type="email" class="text-violet-800 rounded-md opacity-50 transition-all duration-300 lg:mr-3 lg:w-96 focus:ring-inset focus:ring-yellow-500 focus:opacity-100" name="email" id="newsletter-email" placeholder="Email address…" />
                        <button type="submit" class="p-3 mt-1 tracking-wide rounded-md shadow-md transition-all duration-300 lg:leading-5 hover:bg-yellow-600 focus:bg-yellow-600 active:relative active:top-px active:left-px active:bg-amber-500 bg-amber-600/50 text-marble-50 shadow-marble-600/50" value="Subscribe">Subscribe</button>
                    </div>
                    <p class="px-6 mt-3 text-right lg:pb-3 text-marble-500"><small><a href="https://tinyletter.com" target="_blank" class="underline text-marble-500">Powered by TinyLetter</a>. Your email will not be used for anything other than this newsletter, nor will I share it with any third parties.</small></p>
                </form>
            </div>
            {% endblock newsletter #}

            <div class="sm:mt-20 sm:border-t xl:flex xl:justify-between xl:items-baseline xl:mx-auto sm:border-marble-100">
                <nav aria-label="Secondary Site Navigation">
                    <ul role="list" class="flex flex-wrap justify-around items-center my-3 lg:flex-auto lg:justify-end lg:px-12 lg:mt-6 lg:text-xs xl:mt-3 xl:text-2xs">
                        <li class="m-3 lg:my-0"><a href="/about/" class="uppercase border-b-2 border-red-900 hover:border-pink-700 focus:border-pink-700">About</a></li>
                        <li class="m-3 lg:my-0"><a href="/about/#contact" class="uppercase border-b-2 border-red-900 hover:border-pink-700 focus:border-pink-700">Contact</a></li>
                        <li class="m-3 lg:my-0"><a href="/about/#review-policy" class="uppercase border-b-2 border-red-900 hover:border-pink-700 focus:border-pink-700">Review Policy</a></li>
                        <li class="m-3 lg:my-0"><a href="/about/#submissions" class="uppercase border-b-2 border-red-900 hover:border-pink-700 focus:border-pink-700">Submit a Book for Review</a></li>
                    </ul>
                </nav>

                <div class="mx-auto mt-10 mb-3 text-xs font-normal text-center lg:flex-auto lg:order-first lg:pb-3 xl:px-12 xl:pb-0 xl:mt-3 xl:text-left xl:text-2xs">
                    Copyright ©2024 <a href="https://tachyondecay.net/" class="underline">Kara Babcock</a>. All reviews are available under a <a href="https://creativecommons.org/licenses/by-nc/4.0" class="underline">Creative Commons Attribution–NonCommercial License<img class="inline mx-px h-3" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg" alt="Creative Commons logo"><img class="inline mx-px h-3" src="https://mirrors.creativecommons.org/presskit/icons/by.svg" alt="Creative Commmons Attribution logo"><img class="inline mx-px h-3" src="https://mirrors.creativecommons.org/presskit/icons/nc.svg" alt="Creative Commons Non-Commercial Logo"></a>
                </div>
            </div>

        </footer>
    {% endblock body_footer %}

    <script data-goatcounter="https://karareviews.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
</html>