arrow==0.12.1
atomicwrites==1.2.1
attrs==18.2.0
awesome-slugify==1.6.5
beautifulsoup4==4.6.3
beets==1.4.9
blinker==1.4
certifi==2019.6.16
chardet==3.0.4
click==6.7
decorator==4.3.0
diff-match-patch==20121119
factory-boy==2.11.1
Faker==0.9.0
Flask==1.0.2
Flask-Cors==3.0.8
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
idna==2.8
infinity==1.4
inflection==0.3.1
intervals==0.8.1
itsdangerous==0.24
jellyfish==0.7.2
Jinja2==2.10
Markdown==2.6.11
MarkupSafe==1.0
more-itertools==4.3.0
munkres==1.1.2
musicbrainzngs==0.6
mutagen==1.42.0
pkg-resources==0.0.0
pluggy==0.7.1
py==1.6.0
pytest==3.7.4
pytest-factoryboy==2.0.1
pytest-flask==0.11.0
python-dateutil==2.7.3
PyYAML==5.1.1
regex==2018.8.29
requests==2.22.0
six==1.11.0
SQLAlchemy==1.2.11
SQLAlchemy-Utils==0.33.3
text-unidecode==1.2
Unidecode==1.0.22
urllib3==1.25.3
validators==0.12.2
Werkzeug==0.14.1
Whoosh==2.7.4
WTForms==2.2.1
WTForms-Alchemy==0.16.7
WTForms-Components==0.10.3
