{% extends 'admin/layouts/master.html' %}
{% from 'macros.html' import notifications, render_pagination %}

{% block body_main %}
{{ super() }}

<div class="grid-layout">
    <div class="filter-bar">
        <h2 class="_hide">Filter Results</h2>

        <div class="filter">
            <h3 class="label">Status</h3>
            <ul class="buttons">
                {% set statuses = request.args.getlist('status') %}
                {% for status in status_breakdown %}
                    {% set query_args = request.args.to_dict(false) %}
                    <li>
                        {% if status[0] is in statuses -%}
                            {% set update = query_args['status'].remove(status[0]) %}
                            <a href="{{ url_for(request.endpoint, **query_args) }}" class="button -small -current">
                        {% else -%}
                            {% set update = query_args['status'].append(status[0]) %}
                            <a href="{{ url_for(request.endpoint, **query_args) }}" class="button -small">
                        {% endif %}
                            <span class="text">{{status[0]|capitalize }}</span>
                            <span class="count">({{ status[1] }})</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="filter">
            <input type="text" placeholder="Tag…" class="textinput"/>
        </div>

        <div class="filter">
            <h3 class="label">Sort by</h3>
            <select id="sort_by">
                <option value="book_author">Author</option>
                <option value="date_published">Date published</option>
                <option value="end_date">Date read</option>
                <option value="date_updated">Date updated</option>
                <option value="rating">Rating</option>
                <option value="title">Title</option>
            </select>
            <div class="checkbox-toggle">
                <input id="order" name="order" type="checkbox" value="asc">
                <label for="order">
                    <div class="switch" data-checked="Asc" data-unchecked="Desc"></div>
                    <div class="labeltext"></div>
                </label>
            </div>
        </div>
    </div>

{# <p class="jumplink"><a href="#page-sidebar">Filter these results</a></p> #}

{# <div class="search-filter -tags">
    <h3 class="label">Top 10 Tags</h3>
    <input type="text" placeholder="Search for tag…" class="text-input js-autocomplete js-tag-search" data-src="{{ url_for('api.tags_lookup') }}" />
    <ul>
        {% for tag in tags %}
        <li>
            <a href="{{ url_for('admin.search', q='tag:' + tag[0].handle) }}" class="link">
                <span class="text">{{ tag[0].label }}</span>
                <span class="count">{{ tag[1] }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
</div> #}

<section class="main-panel">
<main>
{% if posts %}
    <h2 class="_hide">Results</h2>
    
    {% if posts.pages > 1 %}
        {{ render_pagination(posts) }}
    {% endif %}
    <ol class="results-list">
    {% for post in posts.items %}
        <li>
            <article class="result-item">
                <h2 class="title"><a href="{{ url_for('.edit_review', id=post.id) }}" title="Edit review">{{ post.title }}</a></h2>
                <img src="/media/book_covers/{{ post.book_cover }}" alt="" class="cover" />
                <footer>
                    <dl class="details">
                        <dt class="_hide">Author</dt>
                        <dd><a href="{{ url_for('.reviews', book_author=post.book_author) }}">{{ post.book_author }}</a></dd>

                        <dt>Finished</dt>
                        <dd><time datetime="{{ post.date_finished.format('YYYY-MM-DD') }}">{{ post.date_finished.format('MMM DD, YYYY') }}</time></dd>

                        <dt class="_hide">Rating</dt>
                        <dd title="{{ post.rating }} of 5 stars">
                            {% for star in range(5) %}
                                {% if star <= post.rating %}
                                <i class="star -full"></i>
                                {% else %}
                                <i class="star -empty"></i>
                                {% endif %}
                            {% endfor %}
                        </dd>
                    </dl>
                </footer>

                <div class="review">
                    {% if post.summary %}
                        {{ post.summary }}
                    {% else %}
                        {{ post.body_html|striptags|truncate(300) }}
                    {% endif %}
                </div>
            </article>
        </li>
    {% endfor %}
    </ol>

    <p class="jumplink"><a href="#top">Back to Top</a></p>

    {% if posts.pages > 1 %}
        {{ render_pagination(posts) }}
    {% endif %}
{% else %}
    <div class="noresults">No reviews found for the selected criteria.</div>
{% endif %}
</main>
</section>
</div>
{% endblock %}