{% extends 'admin/layouts/results.html' %}
{% set post_type = 'review' %}

{% block sort_by %}
            <select id="sort_by" data-default="date_updated">
                <option value="book_author">Author</option>
                <option value="date_published">Date published</option>
                <option value="date_updated">Date updated</option>
                <option value="date_finished">Date read</option>
                <option value="rating">Rating</option>
                <option value="title_sort">Title</option>
            </select>
{% endblock sort_by %}


{% block result_item %}
                <h3 class="title"><a href="{{ url_for('.edit_post', id=post.id, post_type='reviews') }}" title="Edit review">{{ post.title }}</a></h3>
                    <img src="/media/review/covers/{{ post.cover }}" alt="" class="cover" />
                    <footer>
                        <dl class="details">
                            <dt class="_hide">Author</dt>
                            <dd><a href="{{ url_for('.reviews', q='book_author:"' ~ post.book_author ~ '"') }}">{{ post.book_author }}</a></dd>

                            {% if post.date_finished %}
                            <dt>Finished</dt>
                            <dd><time datetime="{{ post.date_finished.format('YYYY-MM-DD') }}">{{ post.date_finished.format('MMM DD, YYYY') }}</time></dd>
                            {% endif %}

                            <dt class="_hide">Rating</dt>
                            <dd title="{{ post.rating ~ ' out of 5 stars' if post.rating > 0 else 'Unrated' }}">
                                {% for star in range(0,5) %}
                                    {% if star < post.rating %}
                                    <i class="star -full"></i>
                                    {% else %}
                                    <i class="star -empty"></i>
                                    {% endif %}
                                {% endfor %}
                            </dd>
                        </dl>
                    </footer>

                    <ul class="tags _inline-list">
                    {% for t in post._tags|sort(attribute='handle') %}
                        <li><a class="_button -micro" href="{{ url_for('.reviews', q='tags:"' ~ t.label ~ '"') }}">{{ t.label }}</a></li>
                    {% endfor %}
                    </ul>

                    <div class="summary">
                        {% if post.summary %}
                            {{ post.summary }}
                        {% else %}
                            {{ post.body_html|striptags|truncate(300) }}
                        {% endif %}
                    </div>
{% endblock %}
