{% extends 'admin/layouts/write.html' %}

{% block page_title %}
{% if post.title %}Editing review of “{{ post.title }}”{% else %}Writing a new review{% endif %} {{ super() }}
{% endblock %}

{% block field__title %}
<label for="title" class="u-hidden-visually">Book Title</label>
{{ form.title(**{'aria-label': 'Title', 'class': 'o-text-input o-text-input--blend c-page-title__input', 'placeholder': 'Book title…'}) }}
{% endblock %}


{% block post_contents %}
    <div class="o-grid--column o-grid--flip@tablet o-grid--auto o-grid--middle">
        <div class="o-grid__cell o-form-field">
            <fieldset tabindex="0">
                <legend>Rating</legend>

                <div class="c-rating-input">
                    {% for star in form.rating %}
                    {{ star }} <label for="{{ star.id }}" title="{{ star.label.text }}">{% if loop.last %}Clear{% endif %}</label>
                    {% endfor %}
                </div>
            </fieldset>
        </div>

    <div class="o-grid__cell o-form-field">
        {{ checkbox_toggle(form.spoilers, label='Review contains spoilers') }}
    </div>
    </div>

    {{ super() }}
{% endblock post_contents %}

{% block post_metadata %}
    <div class="o-form-field o-upload">
        <div class="o-upload__field">
            {{ render_field(form.book_cover, {'class': 'o-upload__input' }, label='Book Cover') }}
        </div>
        <div class="o-upload__preview js-image-upload">
            {% if post.book_cover %}
            <img src="/media/book_covers/{{ post.book_cover }}" class="o-upload__image" alt="Cover image" />
            {% else %}
            <img src="" class="o-upload__image o-upload__image--none" alt="" />
            {% endif %}
            <div class="o-upload__placeholder">Paste cover image here</div>
        </div>

        <div class="o-upload__remove">
            {{ checkbox_toggle(form.remove_cover, size='small') }}
        </div>
    </div>

    <div class="o-form-field">
        {{ render_field(form.book_author, {'class': 'o-text-input o-text-input--blend u-1/1' }, label='Author') }}
    </div>

    <div class="o-form-field">
        {{ render_field(form.book_id, {'class': 'o-text-input o-text-input--blend u-1/1' }, label='ISBN') }}
    </div>

    <div class="o-form-field">
        {{ render_field(form.goodreads_id, {'class': 'o-text-input o-text-input--blend u-1/1' }, label='Goodreads Review') }}
    </div>

    <div class="o-form-field">
        {{ render_field(form.dates_read, {'class': 'o-text-input o-text-input--blend js-daterangepicker', }, label='Dates Read') }}
    </div>

    {{ super() }}

{% endblock post_metadata %}
