{% extends 'admin/layouts/write.html' %}

{% block page_title %}
{% if post.title %}Editing review of “{{ post.short_title }}”{% else %}Writing a new review{% endif %} {{ super() }}
{% endblock %}

{% block field__title %}
<label for="title" class="_hide">Book Title</label>
{{ form.title(**{'aria-label': 'Title', 'class': 'textinput -blend -title', 'placeholder': 'Book title…', 'autocomplete': 'off'}) }}
{% endblock %}


{% block post_contents %}
    <div class="form-field">
        <fieldset tabindex="0">
            <legend>Rating</legend>

            <div class="rating-input">
                {% for star in form.rating %}
                {{ star(class='_hide') }} <label for="{{ star.id }}" title="{{ star.label.text }}">{% if loop.last %}Clear{% endif %}</label>
                {% endfor %}
            </div>
        </fieldset>
    </div>

    <div class="form-field">
        {{ checkbox_toggle(form.spoilers, label='Review contains spoilers') }}
    </div>

    {{ super() }}
{% endblock post_contents %}

{% block post_metadata %}
    <div class="form-field -span upload-widget js-image-upload" data-alt="Pasted book cover image">
        {{ form.pasted_cover }}
        <div class="fileselect">
            {{ render_field(form.book_cover, label='Book Cover') }}
        </div>
        <div class="thumbnail-preview">
            {% if post.book_cover %}
            <img src="/media/book_covers/{{ post.book_cover }}" class="thumbnail" alt="Cover image" />
            {% else %}
            <img src="" class="thumbnail -none" alt="" />
            {% endif %}
            <div class="placeholder">Paste image here</div>
        </div>

        <div class="remove">
            {{ checkbox_toggle(form.remove_cover, size='small') }}
        </div>
    </div>

    <div class="form-field -span">
        {{ render_field(form.book_author, {'class': 'textinput -blend' }, label='Author') }}
    </div>

    <div class="form-field -span">
        {{ render_field(form.book_author_sort, {'class': 'textinput -blend' }, label='Author (Sort By)') }}
    </div>

    <div class="form-field -span">
        {{ render_field(form.book_id, {'class': 'textinput -blend', 'autocomplete': 'off' }, label='ISBN') }}
    </div>

    <div class="form-field -span">
        {{ render_field(form.goodreads_id, {'class': 'textinput -blend js-gr', 'autocomplete': 'off' }, label='Goodreads Review') }}
    </div>

    <div class="form-field -span">
        {{ render_field(form.dates_read, {'class': 'textinput -blend js-daterangepicker', 'autocomplete': 'off' }, label='Dates Read') }}
    </div>

    {{ super() }}

{% endblock post_metadata %}
