

@mixin max-width($w: $max-width) {
  margin-left: auto;
  margin-right: auto;
  max-width: #{$w};
}

@mixin max-width-container($w: $max-width) {
  box-sizing: content-box;

  padding-left: calc(50% - #{$w}/2);
  padding-right: calc(50% - #{$w}/2);
  max-width: #{$w};
}

%vmargins-small {
  margin: var(--unit-small) var(--unit);
}

%vmargins-standard {
  margin: var(--unit);
}

%vmargins-large {
  margin: var(--unit-large) var(--unit);
}

._center {
  text-align: center;
}

@mixin hide() {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

._hide {
  @include hide;
}

._hide-totally {
  display: none !important;
}

._info {
  color: $grey;
}

._inline-list {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  justify-content: center;
  align-items: center;
}

._left {
  text-align: left;
}

._right {
  text-align: right;
}

._smaller {
  margin: var(--unit-tiny);
  font-size: 0.75rem;
  line-height: rvr(0.75);
}

._wrapper {
  @include max-width();
}
