/**
 * basic.scss
 *
 * Corresponds to "basic.html" layout for backend.
 * 
 * This layout is intended for extremely simple, brief content like sign-in and 
 * error pages.
 */

@import "settings";
@import "../common/normalize";
@import "../vendor/mq";
@import "../common/functions";
@import "../common/sprites";
@import "typography";

@import "components/notifications";


/*
 * Body centres contents
 */
body {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  min-height: 100vh;

  background: $charcoal 
    linear-gradient(120deg, $charcoal, 25%, $blue);
}

/**
 * Main page container. Since the page is "basic", not much to see here.
 *
 * 1. On wider displays, vertical centering looks weird
 */
.page-wrapper {
  padding-bottom: var(--unit);
  max-width: $max-text-width;

  background: $snow-white;
  border: 1px solid $purple;
  border-radius: $global-radius;
  box-shadow: 0 0 25px 5px rgba($black, 0.4);

  @include mq($from: desktop) {
    margin-top: -25vh; /* 1 */
  }

  > .notification {
    margin: var(--unit-small) var(--unit);
  }
}


/*
 * Signin form
 *
 * 1. By default, email input and button are stacked. On wider displays, switch to 
 *    side-by-side.
 */
.signin-form {
  display: flex;
  flex-flow: column;
  align-items: center;

  > .text {
    margin: var(--unit-small);
  }

  > .field {
    display: flex;
    flex-flow: column;
    justify-content: center;

    padding: 0 var(--unit);
    width: 100%;
  }

  input[type="email"] {
    width: 100%;
  }

  @include mq($from: desktop) {
    > .field {
      flex-direction: row; /* 1 */
    }
  }
}
