/**
 * basic.scss
 *
 * Corresponds to "basic.html" layout for backend.
 * 
 * This layout is intended for extremely simple, brief content like sign-in and 
 * error pages.
 */

@import "settings";
@import "../common/normalize";
@import "../vendor/sass-mq/mq";
@import "../common/functions";
@import "../common/sprites";
@import "helpers";

@import "forms";
@import "grid";
@import "typography";

@import "components/buttons";
@import "components/form-field";
@import "components/notifications";
@import "components/page-title";



/*
 * Signin form
 *
 * 1. By default, email input and button are stacked. On wider displays, switch to 
 *    side-by-side.
 */
.signin-form {
  display: flex;
  flex-flow: column;
  align-items: center;

  > .text {
    margin: var(--unit-small);
  }

  > .field {
    display: flex;
    flex-flow: column;
    justify-content: center;

    padding: 0 var(--unit);
    width: 100%;
  }

  input[type="email"] {
    width: 100%;
  }

  @include mq($from: desktop) {
    > .field {
      flex-direction: row; /* 1 */
    }
  }
}
