{% extends 'reviews/layouts/main.html' %}
{% from 'reviews/macros.html' import pagetitle %}

{% block body_main %}
{{ super() }}

{{ pagetitle(title="Reviews Index", cover=url_for('.static', filename='images/layout/header_bg/freestocks-OfaDD5o8hpk-unsplash.jpg'), description="All my reviews from now back to the beginning, 2008.")}}
<main>
{% if reviews %}
    <div class="mt-12 lg:mx-auto lg:max-w-4xl">
    {% for year, year_group in reviews|groupby("date_published.year")|reverse %}
    <div class="mb-6">
    <h2 class="text-lg text-center sidebar-heading">{{ year }}</h2>

    <div class="sm:pt-6 sm:columns-2 lg:columns-3">
    {% for month, review_list in year_group|groupby("date_published.month") %}
    <details class="break-inside-avoid-column" {% if arrow.now().year == year and arrow.now().month == month %} open{% endif %}>
        <summary class="m-3 sm:first:mt-0"><h3 class="inline-block">{{ review_list[0].date_published.format("MMMM") }}</h4></summary>
        <ol class="mx-6">
            {% for review in review_list %}
            <li><a class="underline" href="{{ review.get_permalink() }}">{{ review.short_title }}</a></li>
            {% endfor %}
        </ol>
    </details>
    {% endfor %}
    </div>
    </div>
    {% endfor %}
    </div>
{% endif %}
</main>
{% endblock body_main %}