{% extends 'reviews/layouts/main.html' %}
{% from 'macros.html' import pagetitle, time, read_more, render_pagination %}

{% block body_main %}
{{ super() }}

{% if request.endpoint == 'search' %}
    {% if request.args.get('q') %}
        {% set description = 'You searched for <i>' ~ request.args.get('q') ~ '</i>' %}
    {% else %}
        {% set description = 'You haven\'t searched yet.' %}
    {% endif %}

    {{ pagetitle(title=("Search My Reviews" if not reviews else reviews.total ~ " reviews found"), cover=url_for('.static', filename='images/layout/header_bg/my_shelves.jpg'), description=description)}}
{% else %}
    {{ pagetitle(title=page_title, cover=cover, description=('No reviews found' if not reviews else reviews.total ~ " reviews found"))}}

    {% block open_graph %}
        <meta property="og:url" content="{{ request.base_url }}">
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ self.page_title() }}">
        {% if reviews.items %}
        <meta property="og:description" content="{{ reviews.total }} books on this shelf. Latest book: {{ reviews.items[0].short_title }}">
        {% else %}
        <meta property="og:description" content="No reviews found.">
        {% endif %}
        <meta property="og:image" content="{{ cover }}">
        <meta name="twitter:card" content="summary_large_image">
    {% endblock %}
{% endif %}

{% if request.endpoint == 'show_tag' and reviews %}
{% block feeds %}
    {{ super() }}

    <link rel="alternate"  href="{{ url_for('reviews.show_tag', format='rss', handle=handle) }}" title="Reviews for this shelf - RSS"/>
    <link rel="alternate" href="{{ url_for('reviews.show_tag', format='atom', handle=handle) }}" title="Reviews for this shelf - Atom"/>
{% endblock feeds %}
{% endif %}

{% if reviews and reviews.pages > 1 %}
    {{ render_pagination(reviews) }}
{% endif %}

<main>

<div class="body-notification">
    {% if not reviews %}
    <p>No results found.</p>
    {% endif %}

    {% if mode == "title" %}
    <p>Currently searching by book title only. You can <a href="?q=body:{{ ('"' ~ request.args.get('q') ~ '"')|urlencode }}"">search within the text of reviews</a> instead, or <a href="?q=book_author:{{ ('"' ~ request.args.get('q') ~ '"')|urlencode }}">search for a book author</a>.</p>
    {% endif %}
</div>

{% if reviews %}
<ol class="_bare-list">
    {% for review in reviews.items %}
    <li>
        <article class="review-preview" data-review-id="{{ review.id }}" data-short-title="{{ review.short_title }}" data-title="{{ review.title }}">
            <header>
                <a href="{{ review.get_permalink() }}">
                    {% if review.cover %}
                    <img src="/media/review/covers/{{ review.cover }}" class="coverimg" alt="Book cover for {{ review.short_title }}" itemprop="image">
                    {% endif %}
                    <h3 class="title"><a href="{{ review.get_permalink() }}">{{ review.title }}</a></h3>
                </a>
                <p class="bookauthor">by <a href="{{ url_for('.search', q='book_author:"' ~ review.book_author ~ '"') }}">{{ review.book_author }}</a></p>
            </header>

            <footer>
                <p class="rating">
                {% if review.rating > 0 %}
                    <span class="text">{{ review.rating }} out of 5 stars</span>
                {% else %}
                    <span class="text">Unrated</span>
                {% endif %}
                    <span class="stars" title="{{ review.rating }} out of 5 stars">
                    {% for star in range(0,5) %}
                        {% if star < review.rating %}
                        <i class="star -full"></i>
                        {% else %}
                        <i class="star -empty"></i>
                        {% endif %}
                    {% endfor %}
                    </span>
                </p>

                <p class="pubdate">
                {% if review.status != "published" or review.show_updated %}
                    Updated {{ time(review.date_updated, 'MMMM D, YYYY') }} | 
                {% endif %}
                {% if review.status == "published" %}
                    Reviewed {{ time(review.date_published, 'MMMM D, YYYY') }}
                {% endif %}
                </p>
            </footer>

            <div class="content">
                {% if review.summary %}
                <p>{{ review.summary }}</p>
                {% else %}
                {{ review.body_html|truncate_html(read_more_length|default(75)) }}
                {% endif %}
            </div>
        </article>
    </li>
    {% endfor %}
</ol>

{% if reviews and reviews.pages > 1 %}
    {{ render_pagination(reviews) }}
{% endif %}
</main>
{% endif %}
{% endblock body_main %}