{% extends 'reviews/layouts/main.html' %}
{% from 'macros.html' import pagetitle, read_more, time %}

{% block open_graph %}
<meta property="og:url" content="{{ review.get_permalink(False) }}" />
<meta property="og:type" content="review">
<meta property="og:title" content="{{ self.page_title() }}">
<meta property="og:description" content="{{ review.summary or read_more(review.body_html, length=50, link=False)|striptags }}">
{% if review.cover %}
<meta property="og:image" content="{{ request.url_root ~ 'media/review/covers/' ~ review.cover }}">
<meta name="twitter:card" content="summary">
{% else %}
<meta property="og:image" content="{{ url_for('.static', filename='images/kara.reviews-logo-alternate.png', external=True) }}">
    <meta property="og:image:width" content="955">
    <meta property="og:image:height" content="500">
<meta name="twitter:card" content="summary_large_image">
{% endif %}
{% endblock open_graph %}

{% block page_title -%}{{ review.short_title|upper }} by {{ review.book_author }} {% if review.rating > 0 %}
    {% for i in range(0, review.rating) %}★{% endfor %}
{% endif %} | Kara.Reviews{%- endblock page_title %}

{% block body_main %}

{{ super() }}

<article id="review-{{ review.id }}" itemscope itemtype="http://schema.org/Review" data-spoilers="{{ 'yes' if review.spoilers else 'no' }}">
    <meta itemprop="author" itemtype="https://schema.org/Person" content="Kara Babcock">
    <meta itemprop="license" content="https://creativecommons.org/licenses/by-nc/4.0/">
    <meta itemprop="url" content="{{ review.get_permalink(relative=False) }}">

    <header itemprop="itemReviewed" itemscope itemtype="https://schema.org/Book"{% if review.cover %} style="--cover-src: url('/media/review/covers/{{ review.cover }}');"{% endif %}>
        {% if review.book_id %}<meta itemprop="isbn" content="{{ review.book_id }}">{% endif %}

        <h1 class="mb-3 px-3 text-3xl {{ 'sr-only' if review.cover }}">
            Review of 
            <cite class="booktitle" itemprop="name">{{ review.title }}</cite>
            by   
            <span itemprop="author" itemtype="https://schema.org/Person">{{ review.book_author }}</span>
        </h1>

        {% if review.cover %}
        <meta itemprop="image" content="/media/review/covers/{{ review.cover }}">
        {{ pagetitle(title=review.title, description=('by ' ~ review.book_author), heading='p', cover=('/media/review/covers/' ~ review.cover)) }}
        {% endif %}
    </header>

<div class="lg:mt-12 lg:grid lg:grid-cols-[minmax(auto,_calc(50vw-28rem))_repeat(2,_35ch)_auto_auto_minmax(auto,_calc(50vw-28rem))] lg:gap-2 xl:gap-4"><!-- Grid layout begin -->
    <footer class="px-6 lg:col-span-3 lg:col-start-2 lg:row-start-1 text-marble-600">
        <p class="mt-4 text-3xl lg:mt-0 text-marble-900 drop-shadow-lg">
            {% if review.rating > 0 %}
            <span class="sr-only" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                <span itemprop="ratingValue">{{ review.rating }}</span> out of <span itemprop="bestRating">5</span> stars
            </span>
            {% else %}
            <span class="sr-only">Unrated</span>
            {% endif %}
            {% for star in range(0,5) %}
                {{ '★' if star < review.rating else '☆' }}
            {% endfor %}
        </p>

        <p class="mt-4">
        {% if review.status == "published" -%}
                Reviewed {{ time(review.date_published, 'MMMM D, YYYY') }}
                {% if true or review.show_updated -%}
                    and last updated {{ time(review.date_updated, 'MMMM D, YYYY') }}
                {%- endif %}.
        {% else %}
            Updated {{ time(review.date_updated, 'MMMM D, YYYY') }}.
        {%- endif %}
        </p>

        {% if review.tags %}
        <div class="mt-4">
            Shelved under 
            <ul class="inline">
            {% for t in review._tags|sort(attribute='handle') %}
                <li class="inline after:content-[',_'] last:after:content-['.']"><a class="underline text-marble-600" href="{{ url_for('reviews.show_tag', handle=t.handle) }}">{{ t.label }}</a></li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if current_user.is_authenticated %}
            <p class="mt-4"><a class="underline" href="{{ review.get_editlink() }}">Edit review</a></p>
        {% endif %}
    </footer>

    <aside class="mt-12 lg:col-start-5 lg:col-end-7 lg:row-start-1 lg:mt-0 xl:col-end-6">
        <h3 class="last:hidden sidebar-heading">Heads Up</h3>
        {% if review.status == "published" and (arrow.utcnow() - review.date_published) > timedelta(days=728) %}
        <p class="px-3 mt-4 text-sm text-marble-600">
            <svg xmlns="http://www.w3.org/2000/svg" class="inline-block h-4 w-4 align-top mt-[0.15rem]" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <strong>This review was published {{ review.date_published.humanize() }}.</strong> Some of its information or my opinions might be out of date.
        </p>
        {% endif %}

        {% if review.status == "published" and review.date_published < arrow.get(config.TRANS_DATE) %}
        <p class="px-3 mt-4 text-sm">I wrote this before <a class="underline" href="/about/#trans">I came out as transgender</a>.</p>
        {% endif %}
    </aside>

    <div class="px-6 mt-16 lg:col-span-3 lg:col-start-2 lg:row-span-3 lg:row-start-2 lg:mt-8">
        {% if review.spoilers %}
        <p class="p-3 my-3 w-full max-w-prose text-base bg-pink-900 rounded-md lg:max-w-none lg:text-sm lg:shadow-md text-marble-50 lg:shadow-marble-600/50">
            <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-6 h-6 align-text-top" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <strong>Spoiler alert!</strong> This review reveals significant plot details.
        </p>
        {% endif %}

        <div class="dropcap endmark prose prose-marble prose-p:indent-4 md:prose-md lg:prose-lg" itemprop="reviewBody">
        {{ review.body_html }}
        </div>
    </div>

    <section class="py-12 mt-24 md:py-24 md:mt-36 lg:col-span-full lg:row-start-5 lg:py-36 bg-coverimg from-marble-900/75 to-marble-900/70 text-marble-100" style="--cover-src: url('{{ url_for('static', filename='images/layout/header_bg/thought-catalog-mmWqrsjZ4Lw-unsplash.jpg') }}')">
        <h2 class="sr-only">Engagement</h2>

        <div class="flex flex-col space-y-12 lg:flex-row lg:justify-evenly lg:space-y-0">
        <div class="">
            <h3 class="text-2xl font-bold text-center">Share on the socials</h3>

            <p class="flex justify-center mt-6 space-x-2">
                <a class="p-3 tracking-wide bg-amber-600 rounded-md shadow-md transition-all duration-300 lg:leading-5 hover:bg-yellow-600 active:relative active:top-px active:left-px active:bg-amber-500 active:opacity-100 mx- text-marble-50 shadow-marble-800/50 hover:text-marble-50 focus:text-marble-50 active:text-marble-50" target="_blank" href="https://twitter.com/intent/tweet?text={{ ('Read this review of ' ~ review.short_title)|urlencode }}&url={{ review.get_permalink(False) }}&via=tachyondecay">
                    <svg class="inline-block pr-1 w-6 h-6 align-top" viewBox="0 0 16 16" x="96" y="320" fill="currentColor">
                        <symbol id="icon-twitter">
                        <path d="M16 3.538c-0.588 0.263-1.222 0.438-1.884 0.516 0.678-0.406 1.197-1.050 1.444-1.816-0.634 0.375-1.338 0.65-2.084 0.797-0.6-0.638-1.453-1.034-2.397-1.034-1.813 0-3.281 1.469-3.281 3.281 0 0.256 0.028 0.506 0.084 0.747-2.728-0.138-5.147-1.444-6.766-3.431-0.281 0.484-0.444 1.050-0.444 1.65 0 1.138 0.578 2.144 1.459 2.731-0.538-0.016-1.044-0.166-1.488-0.409 0 0.013 0 0.028 0 0.041 0 1.591 1.131 2.919 2.634 3.219-0.275 0.075-0.566 0.116-0.866 0.116-0.212 0-0.416-0.022-0.619-0.059 0.419 1.303 1.631 2.253 3.066 2.281-1.125 0.881-2.538 1.406-4.078 1.406-0.266 0-0.525-0.016-0.784-0.047 1.456 0.934 3.181 1.475 5.034 1.475 6.037 0 9.341-5.003 9.341-9.341 0-0.144-0.003-0.284-0.009-0.425 0.641-0.459 1.197-1.038 1.637-1.697z"></path>
                        </symbol>
                        <use xlink:href="#icon-twitter"/>
                    </svg>
                    Twitter
                </a>
                <a class="p-3 tracking-wide bg-amber-600 rounded-md shadow-md transition-all duration-300 lg:leading-5 hover:bg-yellow-600 active:relative active:top-px active:left-px active:bg-amber-500 active:opacity-100 mx- text-marble-50 shadow-marble-800/50 hover:text-marble-50 focus:text-marble-50 active:text-marble-50" target="_blank" href="https://www.facebook.com/sharer/sharer.php?kid_directed_site=0&sdk=joey&u={{ review.get_permalink(False) }}&display=popup&ref=plugin&src=share_button">
                    <svg id="icon-facebook" class="inline-block pr-1 w-6 h-6 align-top" viewBox="0 0 16 16" x="64" y="320" fill="currentColor">
                        <path d="M14.5 0h-13c-0.825 0-1.5 0.675-1.5 1.5v13c0 0.825 0.675 1.5 1.5 1.5h6.5v-7h-2v-2h2v-1c0-1.653 1.347-3 3-3h2v2h-2c-0.55 0-1 0.45-1 1v1h3l-0.5 2h-2.5v7h4.5c0.825 0 1.5-0.675 1.5-1.5v-13c0-0.825-0.675-1.5-1.5-1.5z"></path>
                    </svg>
                    Facebook
                </a>
            </p>
        </div>

        <div>
            <h3 class="text-2xl font-bold text-center">Let me know what you think</h3>

            <p class="flex justify-center mt-6 space-x-2">
                <a class="p-3 tracking-wide rounded-md shadow-md transition-all duration-300 lg:leading-5 hover:bg-pink-700 focus:bg-pink-700 active:relative active:top-px active:left-px active:bg-fuchsia-800 bg-pink-700/75 text-marble-50 shadow-marble-800/50 hover:text-marble-50 focus:text-marble-50 active:text-marble-50" title="Talk to me on Twitter" target="_blank" href="https://twitter.com/intent/tweet?text={{'@tachyondecay '|urlencode}}">
                    <svg class="inline-block w-6 h-6 align-top" viewBox="0 0 16 16" x="64" y="320" fill="currentColor">
                        <use xlink:href="#icon-twitter"/>
                    </svg>
                </a>
                <a class="p-3 tracking-wide rounded-md shadow-md transition-all duration-300 lg:leading-5 hover:bg-pink-700 focus:bg-pink-700 active:relative active:top-px active:left-px active:bg-fuchsia-800 bg-pink-700/75 text-marble-50 shadow-marble-800/50 hover:text-marble-50 focus:text-marble-50 active:text-marble-50" title="Email me" target="_blank" href="mailto:kara@tachyondecay.net{{('?subject=Your review of ' ~ review.short_title ~ '&body=Hi Kara!')|urlencode}}">
                    <svg xmlns="http://www.w3.org/2000/svg" class="inline-block w-6 h-6 align-top" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                    </svg>
                </a>

            {% if review.goodreads_id -%}
                <a class="p-3 tracking-wide rounded-md shadow-md transition-all duration-300 lg:leading-5 hover:bg-pink-700 focus:bg-pink-700 active:relative active:top-px active:left-px active:bg-fuchsia-800 bg-pink-700/75 text-marble-50 shadow-marble-800/50 hover:text-marble-50 focus:text-marble-50 active:text-marble-50" title="Like/comment on Goodreads" target="_blank" href="https://www.goodreads.com/review/show/{{ review.goodreads_id }}"><img class="inline-block w-6 h-6 align-top" src="{{ url_for("static", filename="images/icons/goodreads_white.png") }}" alt="Goodreads Logo"></a>
            {%- endif %}
            {% if review.storygraph_id -%}
                <a class="p-3 space-x-2 tracking-wide rounded-md shadow-md transition-all duration-300 lg:leading-5 hover:bg-pink-700 focus:bg-pink-700 active:relative active:top-px active:left-px active:bg-fuchsia-800 bg-pink-700/75 text-marble-50 shadow-marble-800/50 hover:text-marble-50 focus:text-marble-50 active:text-marble-50" title="Read this review on The StoryGraph" target="_blank" href="https://app.thestorygraph.com/reviews/{{ review.storygraph_id }}"><img class="inline-block w-6 h-6 align-top" src="{{ url_for("static", filename="images/icons/storygraph_white.png") }}" alt="StoryGraph Logo"></a>
            </p>
            {%-  endif %}
        </div>

        <div>
            <h3 class="text-2xl font-bold text-center">Enjoying my reviews?</h3>
            <p class="flex justify-center mt-6 space-x-2">
            <a class="p-3 tracking-wide rounded-md shadow-md transition-all duration-300 lg:leading-5 hover:bg-red-700 active:relative active:top-px active:left-px active:bg-red-600 bg-red-700/75 text-marble-50 shadow-marble-800/50 hover:text-marble-50 focus:bg-red-00 focus:text-marble-50 active:text-marble-50" target="_blank" href="https://www.buymeacoffee.com/karababcock"><img class="inline-block w-6 h-6 align-text-top" src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg" alt="Tip me"><span>Buy me a tea</span></a>
            </p>
        </div>
        </div>
    </section>

    {% if related_reviews %}
    <aside class="lg:col-start-5 lg:col-end-7 lg:row-start-3 xl:col-end-6">
    {% for type, revs in related_reviews.items() %}
    {% if revs %}
        <div class="px-6 mt-24 lg:px-0 group">
            <h3 class="sidebar-heading">{{ type }}</h3>

            <div class="flex flex-wrap justify-evenly pt-2">
            {% for r in revs %}
                <a class="lg:mt-2" href="{{ r.get_permalink() }}" title="{{ r.short_title }} by {{ r.book_author }}">
                    {% if r.cover %}
                    <img class="h-[150px] shadow-md shadow-marble-600/50 md:h-[300px] lg:h-[200px] xl:h-[150px]" src="/media/review/covers/{{ r.cover }}" alt="Cover for {{ r.short_title }}">
                    {% else %}
                    {{ r.short_title }} by {{ r.book_author }}
                    {% endif %}
                </a>
            {% endfor %}
            </div>
        </div>
    {% endif %}
    {% endfor %}
    </aside>
    {% endif %}

    {% if review.status == "published" %}
    <aside class="px-6 mt-24 lg:col-start-5 lg:col-end-7 lg:row-start-4 lg:px-0 xl:col-end-6 group">
        <h3 class="sidebar-heading">Cite This Review</h3>

        {% if review.show_updated %}
            {% set cite_date = review.date_updated %}
        {% else %}
            {% set cite_date = review.date_published %}
        {% endif %}
        <details class="block py-2 pl-3 ml-3 border-l lg:py-1 hover:border-pink-700 focus:border-pink-700 border-marble-200 motion-safe:hover:border-l-2 motion-safe:hover:pl-4 motion-safe:focus:border-l-2 motion-safe:focus:pl-4">
            <summary class="cursor-pointer">APA 7</summary>
            <p class="mt-2 text-sm indent-4">Babcock, K. ({{ cite_date.format("YYYY, MMM DD") }}). [Review of the book <cite>{{ review.title }}</cite>, by {{ review.book_author }}]. Kara.Reviews. {{ review.get_permalink(False) }}
        </details>

        <details class="block py-2 pl-3 ml-3 border-l lg:py-1 hover:border-pink-700 focus:border-pink-700 border-marble-200 motion-safe:hover:border-l-2 motion-safe:hover:pl-4 motion-safe:focus:border-l-2 motion-safe:focus:pl-4">
            <summary class="cursor-pointer">Chicago/Turabian 17</summary>
            <p class="mt-2 text-sm indent-4">Babcock, Kara. Review of the book <cite>{{ review.title }}</cite>, by {{ review.book_author }}. Kara.Reviews, {{ cite_date.format("MMMM DD, YYYY") }}, accessed {{ arrow.now().format("MMMM DD, YYYY") }}. {{ review.get_permalink(False) }}
        </details>

        <details class="block py-2 pl-3 ml-3 border-l lg:py-1 hover:border-pink-700 focus:border-pink-700 border-marble-200 motion-safe:hover:border-l-2 motion-safe:hover:pl-4 motion-safe:focus:border-l-2 motion-safe:focus:pl-4">
            <summary class="cursor-pointer">MLA 8</summary>
            <p class="mt-2 text-sm indent-4">Babcock, Kara. Review of <cite>{{ review.title }}</cite>, by {{ review.book_author }}. <cite>Kara.Reviews</cite>, {{ cite_date.format("DD MMM YYYY") }}, {{ review.get_permalink(False)|replace('https://', '') }}
        </details>
    </aside>
    {% endif %}
</div> <!-- Grid layout end -->
</article>
{% endblock body_main %}