<!doctype html>
<html>
    <head>
        <title>{% block page_title %}{{ page_title }} | Ben Babcock{% endblock %}</title>

        {% block meta_tags %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% endblock %}

        {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
        {% endblock %}

        {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/magic.js') }}"></script>
        {% endblock %}

        {% block feeds %}
        <link rel="feed"  href="{{ url_for('blog.show_feed', format='rss') }}" title="Articles RSS feed"/>
        <link rel="feed" href="{{ url_for('blog.show_feed', format='atom') }}" title="Articles Atom feed"/>
        {% endblock %}

        <link rel="shortcut icon" href="{{ url_for('static', filename='images/layout/favicon.ico') }}" type="image/x-icon" />
    </head>
    <body class="{% block body_classes %}{% endblock %}">
        <nav class="c-skip-links">
            <ul class="o-list-inline-flex o-grid--between u-margin-bottom-none u-padding-tiny">
                <li class="o-list-inline-flex__item"><a href="#masthead" title="Go to the top of the page">Top</a></li>
                <li class="o-list-inline-flex__item"><a href="#main" title="Skip to the main contents">Main</a></li>
                <li class="o-list-inline-flex__item"><a href="#page-footer" title="Skip to the page footer">End</a></li>
            </ul>
        </nav>

        <header id="masthead" class="c-masthead">
            <a href="/" class="c-masthead__title u-no-underline">
                <img src="{{ url_for('static', filename='images/layout/socksandsandals_200.jpg') }}" alt="My avatar across the web: a photo of my feet in grey-white socks and brown sandals."/>
                <div>
                    <h1 class="u-margin-bottom-none u-margin-top-small">Ben Babcock</h1>
                    <p class="c-masthead__tagline">I read, write, code, and knit.</p>
                </div>
            </a>

            <nav class="o-wrapper--text c-masthead__nav">
                <h1 class="u-hidden">Navigation</h1>
                <ul class="o-list-inline-flex o-grid--around">
                    <li class="o-list-inline-flex__item"><a href="/about/">About Me</a></li>
                    <li class="o-list-inline-flex__item"><a href="/blog/">Blog</a></li>
                    <li class="o-list-inline-flex__item"><a href="/reading/">Reviews</a></li>
                    <!-- <li><a href="/math/">Math</a></li> -->
                    <!-- <li class="o-list-inline-flex__item"><a href="http://flickr.com/photos/tachyondecay/">Photos</a></li> -->
                </ul>
            </nav>
        </header>

        <div class="o-site-grid">
        <main id="main" roles="main">
        {% block body_main %}{% endblock %}
        </main>


        {% if self.body_sidebar_right() or self.body_sidebar_left() %}
        <div class="c-sidebar c-sidebar--right">
        {% block body_sidebar_right %}{% endblock %}
        </div>
        <div class="c-sidebar c-sidebar--left">
        {% block body_sidebar_left %}{% endblock %}
        </div>
        {% endif %}
        </div>

        <footer id="page-footer" class="c-colophon">
            <h1 class="u-hidden">Colophon</h1>

            <div class="o-wrapper--text">
            {% block about_me %}
            <h2 class="u-aside">About Me</h2>
            <p>I’m a 28-year-old teacher in Thunder Bay, Ontario, Canada. Other interests include reading, writing, coding, and knitting. This is my personal site, mostly just a blog.</p>
            {% endblock about_me %}

            <h2 class="u-aside u-margin-top-large">Find Me Elsewhere on the Web</h2>
            <div class="c-social-media">
                <a href="https://twitter.com/tachyondecay/" title="I tweet, um, a lot"><img src="{{ url_for('static', filename='images/icons/twitter.png') }}" alt="Twitter" class="c-social-media__icon"/></a>
                <a href="https://goodreads.com/tachyondecay/" title="I read way too many books, and I review them all"><img src="{{ url_for('static', filename='images/icons/goodreads.png') }}" alt="Goodreads" class="c-social-media__icon"/></a>
                <a href="https://ravelry.com/tachyondecay" title="This is where I share my knitting"><img src="{{ url_for('static', filename='images/icons/ravelry_ball.png') }}" alt="Ravelry" title="Ravelry" class="c-social-media__icon"/></a>
                <a href="https://instagram.com/tachyondecay/" title="I post knitting pics here"><img src="{{ url_for('static', filename='images/icons/instagram.png') }}" alt="Instagram" class="c-social-media__icon"/></a>                <a href="https://github.com/tachyondecay/" title="Occasionally I put some code here"><img src="{{ url_for('static', filename='images/icons/github.png') }}" alt="GitHub" class="c-social-media__icon"/></a>
                <a href="https://flickr.com/tachyondecay/" title="This is where I share my photos"><img src="{{ url_for('static', filename='images/icons/flickr.png') }}" alt="Flickr" class="c-social-media__icon"/></a>
                <a href="https://facebook.com/tachyondecay/" title="If you must"><img src="{{ url_for('static', filename='images/icons/facebook.png') }}" alt="Facebook" title="Facebook" class="c-social-media__icon"/></a>
                <a href="mailto:ben@tachyondecay.net" title="My preferred medium of long-form communication"><img src="{{ url_for('static', filename='images/icons/email.png') }}" alt="Email" class="c-social-media__icon" /></a>
            </div>

            <div class="c-colophon__copyright u-margin-top-large u-margin-horizontal-none u-margin-bottom">
                <a class="c-copyright__img" href="http://creativecommons.org/licenses/by/4.0/"><img src="{{ url_for('static', filename='images/icons/cc_by.png') }}" alt="CC-BY 4.0" width="88" /></a>
                <div class="c-copyright__body u-margin-top">
                    <p>Copyright &#169; 2018 by <a href="mailto:ben@tachyondecay.net">Ben Babcock</a>.</p>
                    <p><strong>Except where otherwise noted</strong>, all original work available under a <a href="http://creativecommons.org/licenses/by/4.0/" rel="license">Creative Commons Attribution 4.0 Licence</a>.</p>
                </div>
            </div>
            </div>
        </footer>

        {% block body_scripts %}{% endblock %}
    </body>
</html>