{% from 'macros.html' import notifications %}
<!doctype html>
<html>
    <head>
        <title>{% block page_title %}{{ page_title }}{% endblock %} | Lemonade Soapbox</title>

        {% block meta_tags %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% endblock %}

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla+One|PT+Sans:400,700"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}"/>
        {% block styles %}{% endblock %}

        <script type="text/javascript">
            var application_root = {{ request.script_root|tojson|safe }};
            var csrf_token = "{{ csrf_token() }}";
        </script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/vendor/jquery-ui.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/modernizr.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/autosize.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/moment.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/daterangepicker.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/jquery.timepicker.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/MonthPicker.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/tag-it.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/paste.js') }}"></script>
        {% block scripts %} {% endblock %}
        <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/simplemde.min.js') }}"></script>
    </head>
    <body class="no-js {% block body_classes %}{% endblock %}">
        <div class="o-powerbar c-powerbar">
            {% if current_user.is_authenticated %}
            <div class="o-wrapper u-padding-horizontal-none">

                    <div class="o-search-box c-powerbar-search">
                        <form method="get" action="{{ url_for('.search') }}">
                            <span class="o-search-box__input">
                            <input type="search" class="o-text-input" name="q" placeholder="Search for articles…" value="{{ g.search_query }}"/>
                            </span>
                            <input type="submit" class="" value="Go"/>
                        </form>
                    </div>

                    <nav class="o-powerbar-nav c-powerbar-nav">
                        <h1 class="u-hidden-visually">Backend Navigation</h1>

                        <ul>
                            <li class="o-powerbar-nav__parent-item c-powerbar-nav__parent-item">
                                <a href="{{url_for('admin.blog') }}">Blog</a>
                                <ul>
                                    <li class="o-powerbar-nav__sub-item c-powerbar-nav__sub-item"><a href="{{ url_for('admin.edit_article') }}">Write</a></li>
                                    <li class="o-powerbar-nav__sub-item c-powerbar-nav__sub-item"><a href="{{ url_for('blog.index') }}">View Blog</a></li>
                                </ul>
                            </li>
                            <li class="o-powerbar-nav__parent-item c-powerbar-nav__parent-item">
                                <a href="{{ url_for('admin.reviews') }}">Reviews</a>
                                <ul>
                                    <li  class="o-powerbar-nav__sub-item c-powerbar-nav__sub-item"><a href="{{ url_for('admin.edit_review') }}">Write</a></li>
                                </ul>
                            </li>
                            <li class="o-powerbar-nav__parent-item c-powerbar-nav__parent-item"><a href="">Tag Manager</a></li>
                        </ul>
                    </nav>

            </div>
                
            {% endif %}
        </div>

        <main class="c-site-content">
        {% block body_main %}
        <header class="c-page-title">
            <div class="o-wrapper u-padding-top-large u-padding-bottom-small">
                {{ notifications(['error', 'success', 'removed']) }}


                <h1 class="c-page-title__heading u-margin-bottom-tiny">
                    {% block page_title_body %}
                    <span class="c-page-title__action">
                        {{ page_title }} »</span>
                    <span class="c-page-title__item">{{ subtitle }}</span>
                    {% endblock page_title_body %}
                </h1>

                {% block header_end %}{% endblock header_end %}
            </div>
        </header>
        {% endblock body_main %}
        </main>

        <footer class="o-wrapper c-site-footer u-1/1 u-margin-top u-padding-vertical-small">
            {% if current_user.is_authenticated %}
            <div class="c-site-footer__current-user">
                Currently signed in as 
                <img src="https://secure.gravatar.com/avatar/{{ current_user.email_hash }}/?d=mm" class="o-icon--small" alt=""/>
                <span class="c-site-footer__username">{{ current_user.name }}</span>.
                <a href="{{ url_for('admin.signout') }}"><small class="c-site-footer__link">Sign Out</small></a>
            </div>
            {% endif %}
        </footer>
        {% block body_scripts %}{% endblock %}
    </body>
</html>