{% from 'macros.html' import notifications %}
<!doctype html>
<html>
    <head>
        <title>{% block page_title %}{{ page_title|striptags }}{% endblock %} | Lemonade Soapbox</title>

        {% block meta_tags %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% endblock %}

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla+One|PT+Sans:400,700"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
        <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
        <link rel="stylesheet" href="{{ url_for('.static', filename='css/admin/admin.css') }}"/>
        {% block styles %}{% endblock %}

        <script type="text/javascript">
            let csrf_token = "{{ csrf_token() }}";
        </script>

        {# <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> #}
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/mustache@latest/mustache.min.js"></script>
        <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
        <script src="{{ url_for('.static', filename='js/vendor/paste.js') }}"></script>
        <script src="{{ url_for('.static', filename='js/admin.js') }}"></script>
        {% block scripts %} {% endblock %}
    </head>
    <body class="no-js {% block body_classes %}{% endblock %}">
        {% block body_main %}
        {{ notifications() }}

        <header class="page-title grid-layout -max -slim-rows" id="top">
            <nav class="site-nav grid-layout">
                <div class="quick-search">
                    <input type="text" class="quicksearch" id="quicksearch" placeholder="Quick post search…" autocomplete="off">
                    <div class="results"></div>
                    <script id="quicksearch-template" type="x-tmpl-mustache">
                        <div class="resultitem -<%type%>">
                            <strong title="<% full_title %>"><% title %></strong>
                            <a href="<% edit %>" target="_blank" title="Edit <% type %>"><span class="i--pencil"></span></a>
                            <a href="<% copy %>" title="Copy link"><span class="i--copy"></span></a>
                        </div>
                    </script>
                </div>
                <div class="user-greeting">
                    <img src="https://www.gravatar.com/avatar/{{ current_user.email_hash }}.jpg" alt="Gravatar">
                    <div class="name">
                        <span class="firstname">{{ current_user.first_name }}</span>
                        <span class="lastname">{{ current_user.last_name }}</span>
                    </div>
                    <a href="{{ url_for('.signout') }}"><small>Sign out</small></a>
                </div>
                <ul class="navlist">
                    <li><a class="navlink -icon-before i-before--newspaper" href="{{ url_for('.blog') }}">Blog Posts</a></li>
                    <li><a class="navlink -icon-before i-before--book" href="{{ url_for('.reviews') }}">Reviews</a></li>
                    <li><a class="navlink -icon-before i-before--price-tags" href="{{ url_for('.tag_manager') }}">Tag Manager</a></li>
                    <li class="submenu"><span class="_button -small -important">Write <span class="i--pencil"></span></span>
                        <ul class="submenu-list">
                            <li><a class="_button -small -new" href="{{ url_for('.edit_post', post_type='blog') }}"><span class="i--plus"></span> Blog Post</a></li>
                            <li><a class="_button -small -new" href="{{ url_for('.edit_post', post_type='reviews') }}"><span class="i--plus"></span> Book Review</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            {% block page_title_body %}
            {% if subtitle %}<p class="subtitle">{{ subtitle }}</p>{% endif %}
            <h1 class="title">{{ page_title|safe }}</h1>
            {% endblock page_title_body %}

            {% block header_end %}{% endblock header_end %}
        </header>
        {% endblock body_main %}
    </body>
</html>