{% extends 'admin/layouts/master.html' %}
{% from 'macros.html' import notifications, render_field, checkbox_toggle %}

{% block body_classes %}editing {{post.type}} {{ post.type }}--{{ post.status }}{% endblock %}

{% block page_title_body %}
            {% if post.title %}
            <h1 class="_hide">{{ post.title }}</h1>
            <p class="subtitle">
                {{ 'Deleted' if post.status == 'deleted' else 'Editing' }} {{ post.type.capitalize() }}
            </p>
            {% else %}
            <p class="subtitle">New {{ post.type.capitalize() }}</p>
            {% endif %}
{% endblock %}

{% block header_end %}
    <div class="postform-title">
        <div class="titlefield">{% block field__title %}{% endblock %}</div>
        <div class="actions">
            {{ form.save(class='_button -positive', icon_after='floppy-disk') }}
            {% if post.status != 'published' and post.status != 'deleted' %}
            {{ form.publish(class='_button -important', icon_after='earth') }}
            {% endif %}
            {% if post.status != 'draft' %}
            {{ form.drafts(class='_button -important', icon_after='eye-blocked', label=('Undelete' if post.status == 'deleted' else 'Unpublish'))}}
            {% endif %}
            <a target="_blank" class="_button js-view-post js-reveal-on-creation {{ '_hide' if not post.id }}" href="{{ post.get_permalink() }}">View <span class="i--new-tab"></span></a>
        </div>
    </div>
{% endblock header_end %}

{% block body_main %}
<form id="write" method="post" data-id="{{ post.id|default('', true) }}" data-type="{{ post.type }}" data-published="{{'true' if (post.status == 'published') else 'false' }}" data-autosave="{{ config['AUTOSAVE_DELAY'] }}" enctype="multipart/form-data">
{{ form.csrf_token }}

{{ super() }}

<div class="grid-layout -max">
<div class="postform-contents">
    {% if post.autosave and post.selected_revision.id == post.revision_id %}
    <div class="notification -warning -dismissable">
        Looks like some changes were automatically saved but never committed. <a href="{{ url_for('.edit_post', post_type=post_type, revision_id=post.autosave.id) }}" data-content="{{ post.selected_revision.restore(post.autosave, post.body) }}">Restore them?</a>
    </div>
    {% endif %}

    <p class="jumplink"><a href="#post-metadata" class="_button -micro">Jump to metadata ↓</a></p>

    <fieldset id="post-contents">
        <legend class="_hide">Post Contents</legend>

        <div class="fields">
        {% block post_contents %}
        <div class="form-field -span" contenteditable="true">
            <label for="body" class="_hide">Body</label>
        {{ form.body(**{'aria-label': 'Body', 'cols': 80, 'rows': 5, 'placeholder': 'Lorem ipsum, baby…', 'data-revision': (post.selected_revision.id if post.selected_revision else ''), 'data-is-autosave': 'true' if (post.selected_revision and post.selected_revision.id == post.autosave_id) else ''}) }}
        </div>

        <div class="form-field -span">
            <label for="summary">Summary</label>
            {{ form.summary(**{'aria-label': 'Summary', 'cols': 50, 'rows': 1, 'placeholder': 'Add summary…'}) }}
        </div>
        {% endblock post_contents %}
        </div>
    </fieldset>
</div>

<div class="postform-metadata">
    <fieldset id="post-metadata">
        <legend class="_hide">Post Metadata</legend>

        {% block post_metadata %}
        <div class="form-field -span">
            {{ render_field(form.date_published, {'class': 'textinput js-breaks-url', 'date_class': '-icon-before i-before--calendar', 'time_class': '-icon-before i-before--clock' }, label='Publish Date') }}
        </div>

        {% if post.status == 'published' %}
        <div class="form-field -span -collapse">
            {{ checkbox_toggle(form.show_updated, label='Show post was updated', size='small')}}
        </div>
        {% endif %}

        <div class="form-field -span">
            {{ render_field(form.handle, {'class': 'textinput -blend js-breaks-url' }, label='URL Handle', container_class='-icon-before i-before--link') }}
        </div>

        <div class="form-field -span">
            {{ render_field(form.tags, {'class': 'tag-lookup', 'data-url': url_for('api.tags_lookup', type=post.type), 'autocomplete': 'off'}) }}
        </div>

        {% include "admin/posts/revision_history.html" %}
        {% endblock post_metadata %}
    </fieldset>

    {% block post_info %}
    <p class="_info _right _smaller js-date-created js-reveal-on-creation {{ '_hide-totally' if not post.date_created }}">
        {% if post.date_created %}
        <small>Created <time datetime="{{ post.date_created.isoformat() }}">{{ post.date_created.to(config['TIMEZONE']).format('MMM DD, YYYY HH:mm')}}</time></small>
        {% endif %}
        {% if post.status == 'deleted' %}
        {{ form.delete(label='Permanently Delete', class='_button -micro -danger') }}
        {% else %}
        {{ form.delete(class='_button -micro -danger') }}
        {% endif %}
    </p>

    <p class="_center"><a href="#post-contents" class="_button -micro">Jump to post contents ↑</a></p>
    {% endblock post_info %}
</div>
</div>
</form>
{% endblock body_main %}