///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

/* COLOURS
   ========================================================================== */

/* Theme colours */
$colour--bg: #fff;
$purple: #8c5383;
$blue: #4b7c91;
$green: #6c9e5b;
$red: #993835;
$orange: #fc814a;
$colour--border: #e8e8e8;
$colour--shadow: rgba(0, 0, 0, 0.5);

/* Utility colours */
$black: #202020;
$white: #fff;
$grey: #e8e8e8;
$grey--dark: #96939b;


/* FONTS
   ========================================================================== */
$fonts--serif: Garamond, Palatino, Times New Roman, serif;
$fonts--sans-serif: PT Sans, Verdana, Arial, sans-serif;
$fonts--accent: Fjalla One, Verdana, sans-serif;

// Standardise some UI treatments.
$global-radius: 5px !default;
$global-transition: all 300ms ease-in-out !default;
