/* ==========================================================================
   #PAGE (CUSTOM)
   ========================================================================== */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    
    background: $colour--bg;
    font-family: $fonts--sans-serif;
}
