/* ==========================================================================
   #LINKS
   ========================================================================== */

a {
    color: $blue;
    text-decoration: none;

    background-image: linear-gradient(transparent 50%, $blue 50%);
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: auto 1px;
    transition: $global-transition;

    &:hover {
        color: $purple;
        background-image: linear-gradient(to right, transparent 5%, $blue 15%, $blue 50%, $purple 95%, transparent);
    }

    .editor-toolbar & {
        background-image: none;
    }
}
