/* ==========================================================================
   #BASIC FORM ELEMENT STYLES
   ========================================================================== */

label, legend {
    font-weight: bold;
}

textarea {
    max-width: 100%;
}


/*
 * Some specialized formatting for certain inputs
 *
 * 1.   This makes sure the jQuery UI datepicker appears above other items.
 */

input[type="date"] {
    position: relative;
    width: 100%;
    z-index: 6;   /* [1] */
}

input[type="time"] {
    width: 100%;
}
