/* ==========================================================================
   #PAGE
   ========================================================================== */

/**
 * Simple page-level setup.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 */

html {
  background: #fdfcff;
  background-image: linear-gradient(0deg, $white, transparent 50vh),
    linear-gradient(90deg, rgba($light-blue, 0.1) 1px, transparent 1px), 
    linear-gradient(rgba($light-blue, 0.1) 1px, transparent 1px);
  background-size: auto, 16px 16px, 16px 16px, 100% 16px;
  font-family: $serif;
  font-size: ($inuit-global-font-size / 16px) * 1em; /* [1] */
  line-height: $inuit-global-line-height / $inuit-global-font-size; /* [1] */
  overflow-y: scroll; /* [2] */
  min-height: 100%; /* [3] */
}

.c-page__title {
  // margin-left: -15vw;
  // margin-right: -15vw;

  text-align: center;
}

blockquote {
  border-left: 2px solid $pink;
  margin-left: 1em;
  margin-right: 2em;
  padding-left: 1em;
}