{% macro notifications(category_filter=[]) %}
    {% with notify = get_flashed_messages(category_filter=category_filter, with_categories=true) %}
    {% if notify %}
        {%- for category, msg in notify %}
        <div class="notification -dismissable -{{ category }}">{{ msg|safe }}</div>
        {% endfor -%}
    {% endif %}
    {% endwith %}
{% endmacro %}

{% macro read_more(content, length=None, link=True, url=None) %}
    {% set trimmed = content|truncate_html(length) %}
    {{ trimmed }}
    {% if link and trimmed|length < content|length %}
    <p class="u-text-center"><a class="c-btn more" href="{{ url }}">Read more…</a></p>
    {% endif %}
{% endmacro %}

{% macro render_errors(field) %}
    {% if field.errors %}
    <div class="notification -error -inline" data-for="{{ field['id'] }}">
        {% if field.errors|length > 1 %}
        <p>Please fix the following errors:</p>
        <ul class="">
            {% for e in field.errors %}
            <li>{{ e }}</li>
            {% endfor %}
        </ul>
        {% else %}
        {{ field.errors[0] }}
        {% endif %}
    </div>
    {% endif %}
{% endmacro %}

{% macro render_field(field, params={}, label=None, container_class='') %}
    {{ field.label(label) }}
    {{ render_errors(field) }}
    <div class="input {{ container_class }} {{ "-error" if field.errors }}">
    {{ field(**params) }}
    </div>
{% endmacro %}

{% macro checkbox_toggle(field, params={}, label='', size=None, checked='Yes', unchecked='No') %}
    <div class="checkbox-toggle {{ ['-', size]|join('') if size}}">
        {{ field(**params) }}
        <label for="{{ field.id }}">
            <div class="switch" data-checked="{{ checked }}" data-unchecked="{{ unchecked }}"></div>
            <div class="labeltext">{{ label|default(field.label.text, true) }}</div>
        </label>
    </div>
{% endmacro %}

{% macro render_pagination(pagination) %}
  {% set query_args = request.args.to_dict(false) %}
  <div class="pagination-links">
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        {% set update = query_args.update({'page': page}) %}
        <a class="button" href="{{ url_for(request.endpoint, **query_args) }}">{{ page }}</a>
      {% else %}
        <strong class="current">{{ page }}</strong>
      {% endif %}
    {% else %}
      <span class="ellipsis">…</span>
    {% endif %}
  {%- endfor %}
  </div>
{% endmacro %}