{% macro notifications(category_filter=[]) %}
    {% with notify = get_flashed_messages(category_filter=category_filter, with_categories=true) %}
    {% if notify %}
        {%- for category, msg in notify %}
        <div class="notification -dismissable -{{ category }}">{{ msg|safe }}</div>
        {% endfor -%}
    {% endif %}
    {% endwith %}
{% endmacro %}

{% macro read_more(content, length=None, link=True, url=None) %}
    {% set trimmed = content|truncate_html(length) %}
    {{ trimmed }}
    {% if link and trimmed|length < content|length %}
    <a class="underline" href="{{ url }}">Read more…</a>
    {% endif %}
{% endmacro %}

{% macro render_errors(field) %}
    {% if field.errors %}
    <div class="notification -error -inline" data-for="{{ field['id'] }}">
        {% if field.errors|length > 1 %}
        <p>Please fix the following errors:</p>
        <ul class="">
            {% for e in field.errors %}
            <li>{{ e }}</li>
            {% endfor %}
        </ul>
        {% else %}
        {{ field.errors[0] }}
        {% endif %}
    </div>
    {% endif %}
{% endmacro %}

{% macro render_field(field, params={}, label=None, container_class='') %}
    {{ field.label(label) }}
    {{ render_errors(field) }}
    <div class="input {{ container_class }} {{ "-error" if field.errors }}">
    {{ field(**params) }}
    </div>
{% endmacro %}

{% macro checkbox_toggle(field, params={}, label='', size=None, checked='Yes', unchecked='No') %}
    <div class="checkbox-toggle {{ ['-', size]|join('') if size}}">
        {{ field(**params) }}
        <label for="{{ field.id }}">
            <div class="switch" data-checked="{{ checked }}" data-unchecked="{{ unchecked }}"></div>
            <div class="labeltext">{{ label|default(field.label.text, true) }}</div>
        </label>
    </div>
{% endmacro %}

{% macro render_pagination(pagination) %}
  {% set query_args = request.args.to_dict(false) %}
  {% set update = query_args.update(request.view_args) %}
  <nav class="pagination-links" aria-label="Pagination">
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        {% set update = query_args.update({'page': page}) %}
        <a class="button" href="{{ url_for(request.endpoint, **query_args) }}">{{ page }}</a>
      {% else %}
        <strong class="current">{{ page }}</strong>
      {% endif %}
    {% else %}
      <span class="ellipsis">…</span>
    {% endif %}
  {%- endfor %}
  </nav>
{% endmacro %}

{% macro pagetitle(title, cover='', description='', class='', heading='h1', subheading='p') %}
<div class="px-3 py-16 bg-coverimg from-marble-900/75 to-marble-900/70 lg:h-screen lg:pt-[45vh] lg:relative lg:z-20 {{ class }}" style="--cover-src: url('{{ cover }}');">
    <{{ heading }} class="text-2xl font-bold lg:mx-auto lg:max-w-[55rem] xl:max-w-[54rem] lg:text-3xl xl:text-5xl text-marble-100">{{ title }}</{{ heading }}>
    {% if description %}
    <{{ subheading }} class="mt-6 text-lg lg:mx-auto lg:mt-3 lg:max-w-[55rem] xl:max-w-[54rem] lg:text-xl xl:text-3xl text-marble-200">{{ description|safe }}</{{ subheading }}>
    {% endif %}
</div>
{% endmacro %}

{% macro time(datetime, format='YYYY-MM-DD') -%}
<time datetime="{{ datetime.isoformat() }}">{{ datetime.to(config.TIMEZONE).format(format) }}</time>
{%- endmacro %}

{% macro time_relative(datetime, granularity='') -%}
{% set date = datetime.to(config.TIMEZONE).replace(hour=0, minute=0, second=0).humanize(granularity=granularity) %}
<time datetime="{{ datetime.isoformat() }}">
    {% if date == '0 days ago' %}today
    {% elif date == 'a day ago' %}yesterday
    {% else %}{{ date }}{% endif %}
</time>
{%- endmacro %}


{% macro toc(links) %}
<nav class="px-6 my-12 group lg:px-0" aria-label="Table of Contents">
    <h2 class="sidebar-heading">On this page…</h2>

    <ol class="ml-3">
        {% for id, text in links.items() %}
        <li><a href="#{{id}}" class="inline-block py-2 pl-3 w-full border-l lg:py-1 hover:border-pink-700 focus:border-pink-700 border-marble-200 motion-safe:hover:border-l-2 motion-safe:hover:pl-4 motion-safe:focus:border-l-2 motion-safe:focus:pl-4">{{ text }}</a>
        {% endfor %}
    </ol>
</nav>
{% endmacro %}