/* ==========================================================================
   #NAVIGATION UI
   ========================================================================== */

/*
 * Two-part horizontal navigation panel comprising a list of links and a search-
 * object.
 *
 * For search object styles, see common/objects.search-box.
 *
 * For layout styles, see common/objects.powerbar-nav.
 *
 * The dropdown menu styling only needs to be triggered for $tablet and up.
 *
 * 1.   Normally this would be done using utilities classes, but it's easier 
 *      to adjust responsively here.
 *
 */

.c-powerbar {
    color: $white;

    background-color: $blue;
    background-image: linear-gradient(to right, 
        $blue, $blue 20%, lighten($blue, 10) 60%, lighten($blue, 20));
    box-shadow: 0 2px 10px $colour--shadow;
}

.c-powerbar-nav__parent-item {
    transition: all linear 0.1s;

    & a {
        color: $white;
        font-family: $fonts--accent;
        font-weight: bold;
        text-decoration: none;
        text-shadow: 1px 1px 0 $colour--shadow;
        transition: $global-transition;

        background-image: none;
    }

    & a:hover, & a:focus {
        background-color: darken($blue, 10);
    }

    & a:active {
        background-color: lighten($blue, 20);
    }

    & > a {
        @include font-size(20px);
        font-variant: small-caps;
    }

    @include mq($from: tablet) {
        & ul {
            /*
             * This is required to make the list appear "above" content.
             */
            background-color: darken($blue, 10);
            border-bottom: 10px solid desaturate(darken($blue, 20), 10);
            border-radius: 0 0 5px 5px / 0 0 10px 10px;
            box-shadow: 0 5px 5px $colour--shadow;
        }

        &:hover {
            background-color: darken($blue, 10);
        }
    }
}

@include mq($from: tablet) {
    .c-powerbar-nav__sub-item a:hover {
        background-color: $grey--dark;
    }
}

.c-powerbar-search {
    margin-bottom: $unit;   /* [1] */

    @include mq($from: tablet) {
        margin-bottom: $unit-tiny;
    }
}