/**
 * _form-field.scss
 *
 * Component that lays out form controls, may be nested within larger layouts.
 */

.form-field {
  display: flex;
  flex-flow: column wrap;
  margin: var(--unit-small) 0;
}

.form-field .-icon-before {
  display: inline-block;
  position: relative;

  & input {
      padding-left: 25px;
  }

  &:before {
      content: '';
      position: absolute;
      top: var(--unit-tiny);
  }
}

.form-field .-icon-after {
  display: inline-block;
  position: relative;

  & input {
      padding-right: 25px;
  }

  &:after {
      content: '';
      position: absolute;
      top: var(--unit-tiny);
  }
}
