/**
 * _notificaions.scss
 *
 * Component: Notification messages displayed like banners.
 */

@keyframes slideDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(100px);
  }
}

.slideDown {
  top: -100px;
  animation: slideDown 1.5s 0.1s 1 ease-in-out forwards;
}

.slideUp {
  transition: top 1.5s 0.1s ease-in-out;
  top: -500px;
  // animation: slideDown 1.5s 3s 1 ease-in-out reverse;
}

/**
 * The base notification class
 *
 * 1. Set vars for bg and text colour; these can be customized depending on 
 *    notification type.
 * 2. "Dismissable" notifications will have an X link added via JS.
 * 3. 
 */
.notification {
  --bg: #{$charcoal};  /* 1 */
  --colour: #{$snow-white};
  padding: var(--unit-small) var(--unit-small) var(--unit-small) var(--unit-large);
  position: fixed;
  width: 100vw;
  z-index: 1000;

  background-color: var(--bg);
  // background: linear-gradient(120deg, var(--bg), $snow-white);
  // border: 1px solid var(--colour);
  box-shadow: 0 5px 5px 0 $c-shadow;
  opacity: 0.8;
  color: var(--colour);
  font-family: $f-accent;
  font-size: 0.75rem;
  letter-spacing: 0.05em;
  line-height: rvr(0.75);
  text-align: center;

  @extend .slideDown;

  &.-dismissable {
    padding-right: var(--unit-large); /* 2 */
  }

  > .dismiss {  /* 2 */
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: var(--unit);
    margin: auto;

    @include sprite(cross, $colour: '#ffffff');
    cursor: pointer;
    font-size: 0.8em;
  }

  &.-error {
    --bg: #{$red};
  }

  &.-success {
    --bg: #{$green};
  }
}

/* Icons that indicate type of notification */
// .notification:before {
//   content: "";
//   height: 1em;
//   position: absolute;
//   left: var(--unit-tiny);
//   top: 50%;
//   transform: translate(0,-50%);

//   @include sprite(info, $colour: $blue-grey);
//   font-size: 1.4rem;
// }

// .notification.-error:before {
//   @include sprite(warning, $colour: $red);
// }

// .notification.-success:before {
//   @include sprite(checkmark, $colour: $green);
// }
