/**
 * _page-title.scss
 *
 * Masthead with page title/subtitle
 *
 * 1. h1.title has a faux border via bg-gradient
 * 2. This "bites" a chunk out of the border.
 */

.page-title {
  // display: flex;
  // flex-flow: column;
  
  // @include max-width-container();

  background-color: $grey-light;
  box-shadow: inset 0 -12px 20px -10px $c-shadow;
  padding-bottom: var(--unit-small);

  > .title {
    margin: 0;
    padding: 0 var(--unit) var(--unit-small);
    line-height: rvr(1.4);
  }

  > .subtitle {
    margin: 0;
    padding: var(--unit) var(--unit-small) 0 var(--unit-small);

    font-family: $f-accent;
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  > .subtitle:after {
    content: " »";
  }

  @include mq($from: tablet) {
    > .title {
      grid-column: content-start / content-end;
      grid-row: 2;
    }

    > .subtitle {
      grid-column: content-start / content-end;
      grid-row: 1;
    }
  }
}
