/**
 * _postform.scss
 *
 * Components related to post editing forms
 */

 @import "form-field";
 @import "upload-widget";


.postform-title {
  > .actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    padding: var(--unit);
  }

  @include mq($from: tablet) {
    grid-column: content-start / content-end;
    grid-row: 2;
    display: contents;

    > .actions {
      padding: 0;
    }
  }
}

@include mq($from: tablet) {
  .postform-contents, .titlefield {
    grid-column: content-start / rs-start;
  }

  .postform-metadata, .actions {
    grid-column: rs-start / content-end;
  }
}

.postform-contents, .postform-metadata {
  margin: var(--unit);

  .jumplink {
    text-align: center;
  }

  @include mq($from: tablet) {
    .jumplink {
      @include hide;
    }

    margin: var(--unit) 0;
  }
}

@include mq($from: desktop) {
  .postform-contents .fields {
    display: flex;
    flex-flow: row wrap;
  }

  .fields > .form-field {
    flex: 1;
  }

  .fields > .-span {
    flex: 1 0 100%;
  }
}
