/**
 * _postform.scss
 *
 * Components related to post editing forms
 */

 @import "form-field";
 @import "upload-widget";


.postform-title {
  > .actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    padding: var(--unit);
  }

  @include mq($from: tablet) {
    grid-column: main-content / span 8;
    grid-row: 2;
    display: grid;
    grid-template-columns: 66% 33%;
    grid-column-gap: var(--unit);

    > .actions {
      padding: 0;
    }
  }
}

.postform-contents {
  grid-column: 3 / 8;
}

.postform-metadata {
  grid-column: 8 / 11;
}

.postform-contents, .postform-metadata {
  // @include max-width-container();
  padding: var(--unit-large) var(--unit-small);

  .form-field {
    margin-bottom: var(--unit);
    padding: 0 var(--unit-tiny);
  }

  .jumplink {
    text-align: center;
  }

  @include mq($from: tablet) {
    .jumplink {
      @include hide;
    }
  }
}
