/**
 * _results-grid.scss
 *
 * Grid for a results page.
 */

.results-grid {
  align-items: center;

  @include mq($from: tablet) {
    margin: var(--unit) 0;

    .filter-bar, .pagination-links, .results-view {
      grid-column: content-start / content-end;
    }

    .filter-bar {
      display: flex;
      flex-flow: row wrap;
      justify-content:  space-around;
      align-items: center;

      border-radius: $global-radius;
    }

    .filter {
      flex: 1;
    }

    .filter-bar > .filter.-status {
      flex: 0 0 100%;
    }
  }

  @include mq($from: desktop) {
    .filter-bar > .filter.-status {
      flex: 1 1 0;
    }
  }

  .jumplink {
    // order: 1;

    a {
      display: block;
      padding: var(--unit-tiny) var(--unit-tiny);

      color: $snow-white;
      text-align: center;

      background: $blue-grey;

      &:hover, &:focus {
        font-weight: bold;
        background: $blue;
      }
    }
  }
}

.results-list {
  list-style: none;
  margin: 0;
  padding: 0;

  > li:hover {
    background-color: $grey-light;
  }

  @include mq($from: desktop) {
    li:not(:first-child) {
      border-top: 1px solid $grey;
    }
  }
}

.result-item {
  --cover-width: 50px;
  display: grid;
  grid-template-columns: calc(var(--cover-width) + var(--unit-small)) 1fr;
  grid-auto-rows: minmax(0, auto);
  grid-template-areas: 
      "img title"
      "img footer"
      "img summary";

  padding: var(--unit-tiny) 0;

  @include mq($from: tablet) {
    --cover-width: 75px;
    padding: var(--unit-small) var(--unit-tiny);
  }

  @include mq($from: desktop) {
    --cover-width: 100px;
    padding: var(--unit) var(--unit-tiny);
  }

  .details {
    margin: 0;

    color: $grey;

    & dt, & dd {
        display: inline-block;
        margin: 0;
        font-size: 0.75rem;
    }

    @include mq($from: tablet) {
      & dd {
        margin-right: var(--unit-small);
      }
    }
  }

  > .title {
    grid-area: title;
    margin: 0;
    max-height: rvr(2);
    overflow: hidden;

    font-size: 1.1rem;
    line-height: rvr(1);

    @include mq($from: tablet) {
      font-size: 1.2rem;
    } 
  }

  > .cover {
    display: block;
    grid-area: img;

    margin-right: var(--unit-small);
    width: var(--cover-width);

  }

  > footer {
    grid-area: footer;
    // margin-top: calc(-1 * var(--unit-tiny));
  }

  > .summary {
    grid-area: summary;
    max-height: rvr(2.25);
    overflow: hidden;

    font-size: 0.75rem;
    line-height: rvr(0.75);

    display: none;

    @include mq($from: tablet) {
      display: block;
    }
  }

  .star {
    font-size: 0.5rem;

    @include mq($from: tablet) {
      font-size: 0.75rem;
    }
  }

  .star.-full {
    @include sprite(star-full);
  }

  .star.-empty {
    @include sprite(star-empty);
  }
}

.filter-bar {
  background: $purple;
  color: $snow-white;

  @include mq($from: desktop) {
    font-size: 0.75rem;
  }
}

.filter {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  padding: var(--unit-small) var(--unit-tiny);

  select {
    height: 100%;
  }

  @include mq($from: desktop) {
    padding: 0 var(--unit-tiny);
  }
}

.filter > .label {
  margin-right: var(--unit-small);
  text-transform: uppercase;
  font-size: 1em;
}

.filter > .statuslist {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;

  li {
    margin: 0 var(--unit-tiny) 0 0;
    padding: 0;
  }

  i {
    font-size: 0.75em;
    font-style: normal;
  }

  ._button {
    padding: 0 calc(var(--unit-tiny)/2);

    line-height: rvr(0.75);
  }
}

.filter > .checkbox-toggle {
  flex: 0.5;
}
