/**
 * _upload-widget.scss
 *
 * File upload widget that displays preview
 *
 */
.upload-widget {
  display: grid;
  grid-template-columns: auto 100px;
  grid-template-areas: 
    "fileselect thumbnail"
    "remove thumbnail";
  align-items: start;

  > .fileselect {
    grid-area: fileselect;

    padding: var(--unit-tiny);

    background: $grey-light;
    border-radius: $global-radius;

    font-size: 0.75rem;

    > .input {
      margin-top: var(--unit-tiny);
    }

    @include mq($from: desktop) {
      padding: 0 var(--unit-tiny);

      > .input {
        margin-top: 0;
      }
    }
  }

  > .remove {
    grid-area: remove;
  }

  @include mq(tablet, desktop) {
    grid-template-columns: 12em 100px;
  }
}


  .thumbnail-preview {
    grid-area: thumbnail;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100px;
    padding: 0 var(--unit-tiny);

    text-align: center;

    > .thumbnail {
      max-width: 100%;

      position: relative;
      z-index: 5;
    }

    > .thumbnail.-none {
      // display: none;
    }

    > .placeholder {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 100%;
      width: 100%;
      position: absolute;
      top: -500px;
      left: -500px;
      z-index: 1;

      font-size: 0.75rem;

      background: rgba($white, 0.8);
      border: 1px dashed $charcoal;
      border-radius: $global-radius;
      color: $charcoal;

      &:hover {
          cursor: crosshair;
      }
    }

    & > .placeholder:hover,
    & > .placeholder:active, 
    & > .-none + .placeholder,
    & > .thumbnail:hover + .placeholder {
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 100;
    }
  }