{% extends 'admin/layouts/write.html' %}

{% block page_title %}
{% if post.title %}Editing “{{ post.title }}”{% else %}Creating a new list{% endif %} {{ super() }}
{% endblock %}

{% block field__title %}
<label for="title" class="_hide">List Title</label>
{{ form.title(**{'aria-label': 'Title', 'class': 'textinput -blend -title', 'placeholder': 'List title…', 'autocomplete': 'off'}) }}
{% endblock %}


{% block post_contents %}
	{{ super() }}

    <div class="form-field">
        <label>List Items</label>
        <div class="quick-search">
            <input type="text" class="quicksearch" id="quicksearch" placeholder="Add post to list…" autocomplete="off">
            <div class="results"></div>
            <script type="x-tmpl-mustache">
                <div class="resultitem -<%type%>" data-edit-link="<% edit %>" data-post-id="<% id %>" data-post-type="<% type %>" data-cover="<% cover %>">
                    <strong class="addtolist" title="<% full_title %>"><% title %></strong>
                </div>
            </script>
        </div>
        <script id="list-item-prototype" type="x-tmpl-mustache">
            <li class="result-item -<% post_type %><%#cover%> -has-cover<%/cover%>">
                <input type="hidden" name="items-<% num %>-list_id" value="<% list_id %>">
                <input type="hidden" name="items-<% num %>-post_id" value="<% post_id %>">
                <input type="hidden" name="items-<% num %>-position" value="<% num %>">
                <%#cover%>
                <img src="/media/<% type %>/covers/<% cover %>" alt="" class="cover" />
                <%/cover%>
                <div class="title -cutoff">
                    <a class="title" href="<% editlink %>" target="_blank"><% title %></a>
                    <button class="_button -micro -ghost" title="Remove post from list"><span class="i--bin icon"></span></button>
                </div>
                <textarea class="summary" name="items-<% num %>-blurb" placeholder="Add blurb…"></textarea>
            </li>
        </script>

        <ol class="results-list js-sortable">
            {% for item in post.items %}
                <li class="result-item -{{ item.post.post_type }}{{ ' -has-cover' if item.post.cover }}">
                    {{ form.items[loop.index0].list_id }}
                    {{ form.items[loop.index0].post_id }}
                    {{ form.items[loop.index0].position }}
                    {{ form.items[loop.index0].remove(value='') }}
                    {% if item.post.cover %}
                    <img src="/media/{{ item.post.post_type }}/covers/{{ item.post.cover }}" alt="" class="cover" />
                    {% endif %}
                    <div class="title -cutoff">
                        <a href="{{ item.post.get_editlink() }}" target="_blank">{{ item.post.title }}</a>
                        <button class="_button -micro -ghost" title="Remove post from list"><span class="i--bin icon"></span></button>
                    </div>
                    {{ form.items[loop.index0].blurb(class="summary", placeholder="Add blurb…") }}
                </li>
            {% endfor %}
        </ol>
    </div>
{% endblock post_contents %}


{% block post_metadata %}
    <div class="form-field -span upload-widget js-image-upload" data-alt="Pasted list image">
        {{ form.pasted_cover }}
        <div class="fileselect">
            {{ render_field(form.cover, label='List Cover') }}
        </div>
        <div class="thumbnail-preview">
            {% if post.cover %}
            <img src="/media/list/covers/{{ post.cover }}" class="thumbnail" alt="Cover image" />
            {% else %}
            <img src="" class="thumbnail -none" alt="" />
            {% endif %}
            <div class="placeholder">Paste image here</div>
        </div>

        <div class="remove">
            {{ checkbox_toggle(form.remove_cover, size='small') }}
        </div>
    </div>

    <div class="form-field">
        {{ render_field(form.owner, label='Owner') }}
    </div>

        {{ checkbox_toggle(form.show_numbers, label='Show numbers') }}

        {{ checkbox_toggle(form.reverse_order, label='Descending order') }}

    {{ super() }}
 {% endblock post_metadata %}