{% extends 'admin/layouts/results.html' %}

{% block sort_by %}
            <select id="sort_by">
                <option value="book_author">Author</option>
                <option value="date_published">Date published</option>
                <option value="date_updated">Date updated</option>
                <option value="title">Title</option>
            </select>
{% endblock sort_by %}


{% block result_item %}
                <h3 class="title"><a href="{{ url_for('.edit_article', id=post.id) }}" title="Edit article">{{ post.title }}</a></h3>
                    <footer>
                        <dl class="details">
                            {% if post.date_published %}
                                <dt>Published</dt>
                                <dd><time datetime="{{ post.date_published.format('YYYY-MM-DD') }}">{{ post.date_published.format('MMM DD, YYYY') }}</time></dd>
                            {% endif%}
                            {% if post.date_updated %}
                                <dt>Updated</dt>
                                <dd><time datetime="{{ post.date_updated.format('YYYY-MM-DD') }}">{{ post.date_updated.format('MMM DD, YYYY') }}</time></dd>
                            {% endif %}
                        </dl>
                    </footer>

                    <div class="summary">
                        {% if post.summary %}
                            {{ post.summary }}
                        {% else %}
                            {{ post.body_html|striptags|truncate(300) }}
                        {% endif %}
                    </div>
{% endblock %}
