{% extends 'blog/layouts/master.html' %}
{% from 'macros.html' import read_more %}

{% block meta_tags %}
<meta property="og:url" content="{{ article.get_permalink(False) }}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ article.title }} | Kara Babcock’s Blog" />
<meta property="og:description" content="{{ article.summary or read_more(article.body_html, length=50, link=False)|striptags }}" />
<meta name="twitter:card" content="summary_large_image"/>
{% if article.cover %}
<meta property="og:image" content="{{ request.url_root }}media/blog/{{ article.cover }}"/>
{% else %}
        <meta property="og:image" content="{{ url_for('.static', filename='images/kara-babcock-2021-02-25.jpg', _external=True) }}">
        <meta property="og:image:width" content="1488">
        <meta property="og:image:height" content="1860">
{% endif %}
{% endblock %}

{% block page_title %}
{{ article.title }} {{ super() }}
{% endblock %}


{% block body_main %}
<article id="{{ article.handle }}" data-id="{{ article.id }}" class="o-wrapper--text o-post o-post--single">
    <header>
        <h1 class="o-post__title c-page__title u-text-shadow">{{ article.title }}</h1>
        {% if article.summary %}
        <div class="o-post__summary">
            {{ article.summary }}
        </div>
        {% endif %}
    </header>

    <footer>
        <p class="o-post__details o-post__pubinfo u-margin-horizontal-small">
        {% if article.status == 'published' %}
           <span class="pubdate"><time datetime="{{ article.date_published.isoformat() }}">{{ article.date_published.to(config.TIMEZONE).format('dddd, MMMM D, YYYY h:mm A ZZ') }}</time></span>

            {% if article.show_updated and article.date_updated > article.date_published %}
            <span class="updated">Last updated <time datetime="{{ article.date_updated.isoformat() }}">{{ article.date_updated.to(config.TIMEZONE).humanize()}}</time></span>
            {% endif %}
        {% endif %}
        </p>

        {% if article.tags %}
        <aside class="o-post__tags">
            <h1 class="u-hidden">Tags</h1>
            <ul class="o-list-inline c-taglist">
                {% for t in article._tags|sort(attribute='handle') %}
                <li class="o-list-inline__item"><a class="c-taglist__tag c-btn" href="{{ url_for('.show_tag', handle=t.handle) }}" rel="tag">{{ t.label }}</a></li>
                {% endfor %}
            </ul>
        </aside>
        {% endif %}

        {% if article.status == 'published' and article.date_published < arrow.get(config.TRANS_DATE) %}
        <p class="o-post__note">Note: This post was written before I realized I was trans and/or before I came out online. As such, I might refer to myself as a man or use my deadname. Please read my <a href="/about#name">name policy</a> to understand how you should refer to me.</small></p>
        {% endif %}
    </footer>

    <div class="o-post__content">
        {{ article.body_html }}
    </div>

    <aside class="o-post__prevnext">
    {% if article.previous_post %}
        <div class="o-post__prev"><h2 class="u-h4 u-margin-bottom-small">Previously</h2>&larr; <a href="{{ article.previous_post.get_permalink() }}">{{ article.previous_post.title }}</a></div>
    {% endif %}
    {% if article.next_post %}
        <div class="o-post__next"><h2 class="u-h4 u-margin-bottom-small">Next</h2><a href="{{ article.next_post.get_permalink() }}">{{ article.next_post.title }}</a> &rarr;</div>
    {% endif %}
    </aside>
</article>
{% endblock %}
