{% extends 'blog/layouts/master.html' %}

{% block body_main %}
{{ super() }}

{% block main_title %}
<h1 class="c-page__title u-text-center u-text-shadow">{{ page_title }}</h1>
{% endblock main_title %}

{% if all_tags|length > 0 %}
	<ul class="o-list-inline o-wrapper--text">
	{% for tag in all_tags|weight %}
		<li class="o-list-inline__item" style="font-size: {{ tag[2] * 200 }}%">
			<a href="{{ url_for('blog.show_tag', handle=tag[0].handle) }}" title="{{ ngettext('%(num)d article', '%(num)d articles', tag[1]) }} with this tag">{{ tag[0].label }}</a>
		</li>
	{% endfor %}
	</ul>
{% else %}
<p>No tags.</p>
{% endif %}
{% endblock body_main %}