.c-calendar-nav {
  display: flex;
  flex-flow: row wrap;

  border-bottom: 2px solid $dark-blue;

  @include mq($from: tablet) {
    flex-flow: column;
  }
}

.c-calendar-nav__item {
  display: flex;
  flex-flow: row;
  flex: 1 1 33%;

  margin: 0 0 $unit;
}

.c-calendar-nav__year {
  flex: 0;
  padding-right: $unit-small;

  font-family: $sans-serif;

  a {
    color: $dark-blue;
    text-decoration: none;
  }

  a:hover, ,a:focus, a:active {
    color: $pink;
  }
}

.c-calendar-nav__months {
  flex: 1;
  max-width: 10em;

  font-family: $sans-serif;
  @include font-size(16px);

  a {
    color: $light-blue;
  }

  a:hover, a:focus, a:active {
    color: $pink;
  }

  li {
    margin-right: $unit-tiny;
  }
}

.c-calendar-nav__more {
  text-align: center;
}
