{% if article.id %}
<div class="o-form-field js-revisions">
    <h3>Revision History</h3>
    {% if selected_revision == article.revision_id %}
    <p>You are editing the current version of this article.</p>
    {% else %}
    <p>You are editing a previous version of this article. <a href="{{ url_for('admin.edit_article', id=article.id) }}">Edit the most recent version.</a></p>
    {% endif %}

    <ol class="c-revisions js-revisions__list">
        {% for r in revisions|reverse %}
        {% set rtext = r.date_created.to(config['TIMEZONE']).format('HH:mm:ss, DD MMM YYYY') %}
        {%- if r.id == selected_revision %}
        <li class="js-revisions__current" data-view="{{ r.id }}">{{ rtext }}</li>
        {% else %}
        <li><a href="{{ url_for('admin.edit_article', revision_id=r.id) }}" class="c-revisions__link" title="View this revision">{{ rtext }}</a></li>
        {% endif -%}
        {% endfor %}
    </ol>
</div>
{% endif %}