.o-post__details {
  font-family: $sans-serif;
  @include font-size(14px);
}

.o-post__pubinfo {
  color: $brown;
  border-bottom: 1px solid $brown;
}

.o-post__tags {
  text-align: center;
}

.o-post__title {
  margin: 0 $unit-small;
  text-align: left;
}

.o-post__content h2 {
  margin: $unit $unit-small $unit-small;

  @include font-size($inuit-font-size-h2);
}

.o-post__content h3,
.o-post--excerpt .o-post__content h2,
.o-post--excerpt .o-post__summary h2 {
  @include font-size($inuit-font-size-h3);
}

.o-post--excerpt .o-post__content h3,
.o-post--excerpt .o-post__summary h3 {
  @include font-size($inuit-font-size-h4);
}

.o-post__content p {
  margin: 0 $unit-small $unit;

  .o-post--single & {
    @include font-size(20px);
  }
}

.o-post__summary {
  margin: $unit-small;
  
  color: $dark-grey;
  font-family: $sans-serif;
}

.o-post__prevnext {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: $unit-huge 0 $unit-small;
  padding: $unit-small $unit-tiny;

  border-top: 2px solid $light-blue;
  color: $light-blue;
  text-align: center;

  a {
    color: $light-blue;
  }

  h2 {
    color: $dark-blue;
  }

  @include mq($from: tablet) {
    flex-flow: row;
    text-align: left;
  }
}

.o-post__next {
  flex: 1;
  margin-top: $unit-small;
  @include mq($from: tablet) {
    margin-top: 0;
    text-align: right;
  }
}

.o-post__note {
  margin: $unit-small;

  border: 0;

  color: $brown;
  font-family: $sans-serif;
  @include font-size(12px);
}

