/* ==========================================================================
   #SEARCH-BOX
   ========================================================================== */


.o-search-box > form {
    display: flex;
    justify-content: center;
    flex: 1;
}

