/* ==========================================================================
   #FORM FIELD STRUCTURES
   ========================================================================== */

/**
 * Form for editing complex post-like structures
 */

.o-form-field {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: $unit;
    padding: 0 $unit-tiny;
}

    .o-form-field__input {
        display: flex;
        flex-flow: row wrap;

        & > span {
            flex: 1;
        }
    }




/**
 * For inputs with icon sprites
 */

.o-form-field--icon-before {
    display: inline-block;
    position: relative;

    & input {
        padding-left: 25px;
    }

    &:before {
        content: '';
        position: absolute;
        top: $unit-tiny;
        // font-size: 8px;
    }
}

.o-form-field--icon-after {
    display: inline-block;
    position: relative;

    & input {
        padding-right: 25px;
    }

    &:after {
        content: '';
        position: absolute;
        top: $unit-tiny;
        // font-size: 8px;
    }
}


/*
 * Information paragraph
 */
.o-form__info {
    color: $grey--dark;

    border-top: 1px solid $grey;
}


/*
 * File upload
 */
.o-upload {
    align-items: end;
    flex-flow: row wrap;
    justify-content: space-evenly;

    padding: 0;
}

    .o-upload__field {
        display: flex;
        flex-flow: column nowrap;
        flex: 2;

        background: $grey;
        border-radius: $global-radius;
        padding: $unit-tiny;
    }

    .o-upload__preview {
        flex: 1;
        text-align: center;
    }

    .o-upload__image {
        max-height: 75px;
    }

    .o-upload__input {
        @include inuit-font-size(12px);
    }
