{% extends 'frontend/layouts/master.html' %}

{% block about_me %}{% endblock about_me %}

{% block body_main %}
<div class="o-wrapper--text">
    <h1 class="c-page__title u-text-shadow">About Me</h1>

    <img src="{{ url_for('static', filename='images/me.jpg') }}" class="u-flow-left u-img-circle" width="250" />

    <h2>The Elevator Pitch</h2>

    <p>I’m a 28-year-old teacher in Thunder Bay, Ontario, Canada. Currently, I teach math and English at the Lakehead Adult Education Centre, where adults can earn their Ontario Secondary School Diploma. In my spare time, I mainline books like they’re an illicit drug. I knit. I spend way too much time online. Occasionally I say something interesting.</p>

    <h2>Where I’m From</h2>

    <p>I was born and raised in Thunder Bay, a settler on the lands of the Anishinaabeg of Fort William First Nation and the Robinson–Superior Treaty of 1850. </p>

    <p>After I graduated from Lakehead University in 2012, I taught math and English in England for two years. Then I moved back here. If you look hard enough online, you can find a music video I shot of me dancing to Taylor Swift’s “Shake It Off” (you don’t have to look that hard).</p>

    <p>I’ve maintained a continuous online presence since March 2004, when I taught myself HTML and put my first site online at Geocities. Since then, I’ve learned a host of other skills and languages, from PHP and MySQL to, most recently, Python and the Flask framework. This has always been a hobby to me; I’m not a professional programmer or web developer by any means. But I’m proud of what I can do.</p>

    <h2>Where I’m Going</h2>

    <p>Part of reaching nearly 30 is the joy of adding more layers.</p>

    <p>Last year I bought a house. It was the end of a major chapter in my life, the culmination of a longstanding goal. At first I wondered, having achieved the last big milestone I’d set myself, what I’d do next.</p>

    <p>Turns out the end of this chapter was the start of a whole new one. I grew closer than I ever expected to a friend I’ve known for years, and now she’s in my life every single day, dynamic and daring and inspirational. Every time we talk or text makes my day better. Moreover, I made a brand new friend, someone who makes me feel like I’ve spent my whole life just auditioning to be the me I am with her. Despite knowing her a year, hanging out with her just feels right. We have a standing Sunday night hangout to watch <cite>Doctor Who</cite> together.</p>

    <p>These friendships, and the existing ones I continue to maintain and grow, matter so much. Friendship is very important to me. I identify as both asexual and aromantic, and although neither of these orientations precludes having a partner of any kind, that’s not something I want right now. I still want close companions, though. People who care for me. People who let me care for them. More than buying a house, last year was the year I think I found <em>it</em>.</p>

    <p>So now I plan to spend as much of my life as possible enjoying it.</p>
</div>
{% endblock %}