{% extends 'frontend/layouts/master.html' %}

{% block body_main %}
<div class="o-wrapper--text">
    <h1 class="c-page__title u-text-shadow">Book Reviews and More … Coming Soon</h1>

    <p>There used to be lists of books/book reviews here. However, I’m in the process of relaunching my site with a new design and new backend.</p>

    <p>Rather than waiting until everything is transferred over, I opted to put my blog posts online first.</p>

    <p>One day all my book reviews will hopefully have a home here, along with lists of my favourite books, etc. Until then, <strong><a href="https://goodreads.com/tachyondecay/">you can find them all on Goodreads</a>.</p>
</div>
{% endblock body_main %}