{% extends 'reviews/layouts/main.html' %}
{% from 'reviews/macros.html' import pagetitle, toc %}

{% block body_main %}
{{ super() }}

{{ pagetitle(title="About This Site", cover=url_for('.static', filename='images/layout/header_bg/library-2021-06-21 19.47.44.jpg'), description='Learn more about Kara and her approach to reviewing books.')}}

<div class="lg:grid lg:grid-cols-[minmax(auto,_calc(50vw-28rem))_repeat(2,_35ch)_auto_auto_minmax(auto,_calc(50vw-28rem))] lg:gap-2 xl:gap-4">

<div class="lg:col-start-5">
{{ toc({
    'me': 'Who Am I?',
    'contact': 'How to Contact Me',
    'review-policy': 'Review Policy',
    'submissions': 'How to Submit Books for Review',
    'credits': 'Credits'
}) }}
</div>

<main class="px-6 lg:col-start-2 lg:col-end-4 lg:row-start-1 lg:px-0 lg:mt-12 prose prose-marble md:prose-md lg:prose-lg">

    <h2 id="me">Who Am I?</h2>
    <p>My name is Kara Babcock (she/her), and I’m a 33-year-old teacher from Thunder Bay, Canada. For a much more detailed bio, check out <a href="https://tachyondecay.net/">my personal blog</a>.</p>

    <p>I’ve reviewed <strong>every book I have read</strong> since I joined Goodreads in 2008. Although I originally began writing these reviews to help jog my poor memory, over time writing them became an end to itself. Writing reviews has improved my skills as a writer (and as a teacher of writing) immensely.</p>

    <p>I started Kara.Reviews because I wanted to establish a platform for my book reviews independent of Amazon-owned Goodreads. Thank you for taking the time to visit my site!</p>

    <p>In addition to writing book reviews, I co-host two podcasts:</p>

    <ul>
        <li><cite><a href="https://wejustliketotalk.com">We Just Like to Talk</a></cite> — A general-interest show with my best friend</li>
        <li><cite><a href="https://prophecygirls.ca/">Prophecy Girls</a></cite> — A <cite>Buffy the Vampire Slayer</cite> rewatch podcast</li>
    </ul>

    <p id="trans">I came out as transgender in 2020. You can <a href="https://tachyondecay.net/blog/tags/transgender/">read more about my journey on my blog</a> if you’re curious. One consequence of having reviews back to 2008, however, is that some of them might refer to me as a cisgender man—because I thought I was one at the time I wrote the review! I’ve tried to update these reviews or add notes, but just keep this in mind as you browse.</p>

    <h2 id="contact">How to Contact Me</h2>
    <p>I’m on Twitter as <a href="https://twitter.com/tachyondecay">@tachyondecay</a>. For longer inquiries, email me at <strong>kara@tachyondecay.net</strong></p>

    <h2 id="review-policy">Review Policy</h2>
    <p>I review every book I finish reading and rate it on a scale of 1 to 5 stars. Abandoned books are only reviewed if I think I have enough interesting things to say. These are usually left unrated and shelved under <a href="{{ url_for('.show_tag', handle='did-not-finish') }}">“did not finish.”</a> A book receives 1 star if I hated it or believe it has very few redeeming qualities. A 5-star book means I love it, although that doesn’t always mean it’s perfect.</p>

    <h2 id="submissions">How to Submit Books for Review</h2>
    <p>I love getting free books! I’m happy to accept both ebooks and physical books (if you can ship to Canada). I am open to books from indie authors as well as other authors and their agents or publishers.</p>

    <p>However, if you only have a limited number of copies you can send out for review, <strong>please consider sending your book to someone else first</strong>. I can afford to buy books! I’d rather you send your book to a reviewer of colour, especially if they’re young.</p>

    <p>Nevertheless, if you are still determined to send me a book, what I’m most likely to want to review:</p>

    <ul>
        <li>Science fiction and fantasy</li>
        <li>Young adult novels featuring marginalized identities, and preferably where romance is not a central component</li>
        <li>Non-fiction science or history, particularly of the “pop” variety but university press titles are also cool</li>
        <li>Anything by a transgender and/or aro/ace author or with trans and/or aro/ace protagonists</li>
    </ul>

    <p>Email me using <a href="#contact">the contact info above</a>, and let me know how I can get your book (NetGalley is fine). If I agree to review your book, I’ll read it and then post my review according to whatever promotional schedule you like. I will indicate in the review I received a free copy of the book. I’m happy to post short versions of my reviews on Amazon, but you will probably have to nudge me, because I tend to forget about that.</p>

    <p>I do not provide sensitivity reading or editing services.</p>

    <h2 id="credits">Credits</h2>

    <p><strong>She doesn’t just read and write a lot; she codes too.</strong> I built this site using <a href="https://palletsprojects.com/p/flask/">Flask</a>. Layout and design are done with <a href="https://tailwindcss.com/">Tailwind</a>. Go ahead and <a href="https://github.com/tachyondecay/tachyondecay.net-mirror">view the source code</a> on GitHub.</p>

    <p>Most of the header backgrounds come from talented photographers on Unsplash, including:</p>

    <ul class="text-base not-prose sm:columns-2 md:columns-3">
        <li><a class="underline" href="https://unsplash.com/photos/TNlHf4m4gpI">Aaron Burden</a></li>
        <li><a class="underline" href="https://unsplash.com/photos/hDcAjjkM-PU">Annie Spratt</a></li>
        <li><a class="underline" href="https://unsplash.com/photos/6Woj_wozqmA">Ardian Lumi</a></li>
        <li><a class="underline" href="https://unsplash.com/photos/GBHnQXbY2Ts">Casper Johansson</a></li>
        <li><a class="underline" href="https://unsplash.com/photos/pNEmlb1CMZM">Clay Banks</a></li>
        <li><a class="underline" href="https://unsplash.com/photos/lbekri_riMg">Craig Whitehead</a></li>
        <li><a class="underline" href="https://unsplash.com/photos/dQWtvAdlJ_8">Dean Maddocks</a></li>
        <li><a class="underline" href="https://unsplash.com/photos/bQxGg8Vx1Vc">Fabrizio Verrecchia</a></li>
        <li><a class="underline" href="https://unsplash.com/photos/OfaDD5o8hpk">freestocks</a></li>
        <li><a class="underline" href="https://unsplash.com/photos/OuLVg5ZKphI">Gabriel Barletta</a></li>
        <li><a class="underline" href="https://unsplash.com/photos/YzSZN3qvHeo">Gary Chan</a></li>
        <li><a class="underline" href="https://unsplash.com/photos/zeH-ljawHtg">Giammarco Boscaro</a></li>
        <li><a class="underline" href="https://unsplash.com/photos/RLw-UC03Gwc">Glenn Carstens-Peters</a></li>
        <li><a class="underline" href="https://unsplash.com/photos/ftPB9kKS4Ds">George Hiles</a></li>
        <li><a class="underline" href="https://unsplash.com/photos/EIWCd0414xQ">Guillaume Jaillet</a></li>
        <li><a class="underline" href="hhttps://unsplash.com/photos/W5UJZF4lnIU">James Eades</a></li>
        <li><a class="underline" href="https://unsplash.com/photos/et5mfj1eB94">Kelly Sikkema</a></li>
        <li><a class="underline" href="https://unsplash.com/photos/vTKLujPJecw">Jez Timms</a></li>
        <li><a class="underline" href="https://unsplash.com/photos/rwvDMV5j1Q8">Lena Kudryavtseva</a></li>
        <li><a class="underline" href="https://unsplash.com/photos/ef3A5EDR7Jk">Manyu Varma</a></li>
        <li><a class="underline" href="https://unsplash.com/photos/wqLGlhjr6Og">Marco Oriolesi</a></li>
        <li><a class="underline" href="https://unsplash.com/photos/5gGcn2PRrtc">Markus Spiske</a></li>
        <li><a class="underline" href="https://unsplash.com/photos/HxnUC0qNzhs">Maria Oswalt</a></li>
        <li><a class="underline" href="https://unsplash.com/photos/OO8AEXFQtdI">Matt Riches</a></li>
        <li><a class="underline" href="https://unsplash.com/photos/1WS5fdi2MW0">Mélanie THESE</a></li>
        <li><a class="underline" href="https://unsplash.com/photos/HxnUC0qNzhs">Miika Laaksonen</a></li>
        <li><a class="underline" href="https://unsplash.com/photos/f5xddISq428">Natalia Y</a></li>
        <li><a class="underline" href="https://unsplash.com/photos/Oaqk7qqNh_c">Patrick Tomasso</a></li>
        <li><a class="underline" href="https://unsplash.com/photos/bBgYaSbEbWY">Paul Dufour</a></li>
        <li><a class="underline" href="https://unsplash.com/photos/3gC4gBnD3Xs">Perfecto Capucine</a></li>
        <li><a class="underline" href="hhttps://unsplash.com/photos/pAs8r_VZEWc">Regine Tholen</a></li>
        <li><a class="underline" href="https://unsplash.com/photos/Hba7In7vnoM">Reuben Teo</a></li>
        <li><a class="underline" href="https://unsplash.com/photos/BfriYg0iOCs">Sincerely Media</a></li>
        <li><a class="underline" href="https://unsplash.com/photos/l57vjomVK20">Surbhi B</a></li>
        <li><a class="underline" href="https://unsplash.com/photos/2JIvboGLeho">Susan Yin</a></li>
        <li><a class="underline" href="https://unsplash.com/photos/slItfWbhijc">Syd Wachs</a></li>
        <li><a class="underline" href="https://unsplash.com/photos/D9_QOTmbFAg">Taylor</a></li>
        <li><a class="underline" href="https://unsplash.com/photos/hHL08lF7Ikc">Thomas Kelley</a></li>
        <li><a class="underline" href="https://unsplash.com/photos/WE_Kv_ZB1l0">Thought Catalog</a></li>
        <li><a class="underline" href="https://unsplash.com/photos/WE_Kv_ZB1l0">Tim Mossholder</a></li>
        <li><a class="underline" href="https://unsplash.com/photos/val-94PYQ1o">Will Malott</a></li>
    </ul>
</main>
</div>

{% endblock body_main %}