{% extends 'reviews/layouts/main.html' %}
{% from 'macros.html' import time_relative with context %}
{% from 'reviews/macros.html' import pagetitle %}

{% block page_title %}Kara.Reviews All the Books{% endblock %}

{% block body_main %}

{{ super() }}

<div class="xl:grid xl:grid-cols-[calc(50vw-40rem)_repeat(2,_1fr)_calc(50vw-40rem)] xl:bg-coverimg xl:from-marble-900/75 xl:to-marble-900/70" style="--cover-src: url('{{ url_for('.static', filename='images/layout/header_bg/my_shelves-2024.jpg') }}')">
<!-- Begin grid layout -->

{{ pagetitle(title=('16 years. ' ~ total_reviews ~ ' reviews.'), description='Not sure where to start? Check out my latest!', cover=url_for('.static', filename='images/layout/header_bg/my_shelves-2024.jpg'), class='xl:col-start-2 xl:px-6 xl:h-auto xl:bg-none xl:pt-[30vh]')}}

<section class="mt-12 md:mx-auto md:max-w-lg xl:col-start-3 xl:row-span-2 xl:justify-self-end xl:self-center xl:mx-12 xl:mt-24">
    <h2 class="sr-only">Recent Reviews</h2>

    {% for title, books in reviews %}
    <div class="xl:p-6 xl:pt-3 xl:mt-8 xl:mb-16 xl:rounded-b-lg xl:border-t-8 xl:border-red-900 group xl:bg-marble-50/90 xl:odd:border-pink-900">
        <h3 class="mt-12 xl:p-0 xl:mt-0 xl:bg-transparent xl:shadow-none sidebar-heading xl:group-even:text-red-900 xl:group-odd:text-pink-900 xl:group-hover:bg-transparent">{{ title }}</h3>

        <div class="flex justify-center space-x-4">
        {% for review in books %}
        <div class="relative mt-8 lg:opacity-90 lg:hover:opacity-100 lg:focus-within:opacity-100">
            <a href="{{ review.get_permalink() }}">
            {% if review.cover %}
                <img class="h-40 shadow-md sm:h-52 xl:h-40 shadow-marble-600/50 hover:shadow-marble-600/100 focus:shadow-marble-600/100" src="/media/review/covers/{{ review.cover }}" alt="Cover for {{ review.short_title }}">
            {% else %}
                {{ review.short_title }}
            {% endif %}
            <span class="absolute -top-6 p-1 w-full text-sm text-center uppercase lg:text-xs text-marble-50 group-even:bg-red-900 group-odd:bg-pink-900">{{ time_relative(review.date_published) }}</span>
            </a>
        </div>
        {% endfor %}
        </div>
    </div>
    {% endfor %}
        
</section>

<section class="mt-36 lg:mx-auto lg:max-w-2xl xl:contents">
    <div class="xl:col-start-2 xl:row-start-2 xl:mx-3">
        <h2 class="mx-3 mt-6 text-2xl font-bold xl:text-marble-50">Hi, I’m Kara Babcock</h2>
        <p class="px-3 mt-3 font-serif xl:text-xl xl:text-marble-50">and I’m a queer girl from Canada who reviews <strong>every book she reads</strong>. In my spare time, I knit and code. <a class="underline hover:text-pink-300 focus:text-pink-300 xl:text-marble-50" href="/about/">Read more about me.</a></p>

        <h3 class="mx-3 mt-12 text-xl font-bold xl:text-marble-50">Find Me Elsewhere</h3>
        <ul class="flex flex-wrap justify-around mt-4 xl:justify-start xl:pl-6 xl:space-x-12">
            <li><a target="_blank" href="https://twitter.com/tachyondecay"><img class="w-12 xl:w-8" src="{{ url_for('.static', filename='images/icons/twitter.png') }}" alt="Twitter"></a></li>
            <li><a target="_blank" href="https://app.storygraph.com/profile/tachyondecay"><img class="w-12 xl:w-8" src="{{ url_for('.static', filename='images/icons/storygraph.png') }}" alt="The StoryGraph"></a></li>
            <li><a target="_blank" href="https://goodreads.com/tachyondecay"><img class="w-12 xl:w-8" src="{{ url_for('.static', filename='images/icons/goodreads.png') }}" alt="Goodreads"></a></li>
            <li><a target="_blank" href="https://ravelry.com/people/tachyondecay"><img class="w-12 xl:w-8" src="{{ url_for('.static', filename='images/icons/ravelry.png') }}" alt="Ravelry"></a></li>
            <li><a target="_blank" href="https://github.com/tachyondecay"><img class="w-12 xl:w-8" src="{{ url_for('.static', filename='images/icons/github.png') }}" alt="GitHub"></a></li>
        </ul>
    </div>

    <div class="xl:col-span-full xl:row-start-3 xl:[background:linear-gradient(180deg,_rgba(0,0,0,0)_0%,_rgba(248,247,247,0.5)_10%,_rgba(248,247,247,1)_30%,_rgba(248,247,247,1)_100%)]">
        <h3 class="mx-3 mt-24 text-xl font-bold xl:mx-auto xl:max-w-3xl xl:text-center">If you like my reviews, you’ll <em>love</em> my podcasts!</h3>

        <div class="flex justify-center mt-3 xl:mx-auto xl:mt-6 xl:max-w-4xl">
            <a class="flex-1 mx-3 shadow-sm opacity-80 hover:opacity-100 focus:opacity-100 max-w-[15rem] shadow-marble-600/50 hover:shadow-marble-600/100 focus:shadow-marble-600/100" href="https://wejustliketotalk.com/" title="We Just Like to Talk — A general-interest show with my best friend">
                <img class="border border-marble-100" src="{{ url_for('static', filename="images/wejustliketotalk.jpg") }}" alt="We Just Like to Talk logo">
            </a>

            <a class="flex-1 mx-3 shadow-sm opacity-80 hover:opacity-100 focus:opacity-100 max-w-[15rem] shadow-marble-600/50 hover:shadow-marble-600/100 focus:shadow-marble-600/100" href="https://prophecygirls.ca/" title="Prophecy Girls — A Buffy the Vampire Slayer rewatch podcast">
                <img src="{{ url_for('static', filename="images/prophecy_girls_logo.png") }}" alt="Prophecy Girls logo">
            </a>
        </div>
    </div>

    <div class="xl:col-span-full xl:row-start-4 xl:bg-marble-50">
        <h3 class="mx-3 mt-24 text-xl font-bold xl:mx-auto xl:max-w-3xl xl:text-center">If you <em>love</em> my reviews, consider hiring me!</h3>

        <p class="mx-3 mt-6 xl:mx-auto xl:max-w-3xl xl:text-center">I offer <a href="https://tachyondecay.net/editing/">freelance copyediting services</a> for authors, academics, and businesses.</p>
    </div>
</section>
</div> <!-- end grid layout -->
{% endblock body_main %}