{% extends 'admin/layouts/master.html' %}

{% block body_main %}
{{ super () }}

<main class="grid-layout -max -slim-rows">
{% if published %}
<div class="dashboard-card -span">
    <h3 class="_hide">At a Glance</h3>
    <p class="statistic">
        <strong>{{ published['Article'] }}</strong> 
        articles and 
        <strong>{{ published['Review'] }}</strong> reviews published
    </p>
</div>
{% endif %}

{% if drafts %}
<div class="dashboard-card" id="wip">
    <h3 class="title">Works in Progress</h3>
    <p>Here's a few things you've been working on!</p>
    <table class="dashboard-report">
    <thead>
        <tr class="header _hide">
            <th scope="col">Title</th>
            <th scope="col">Last Updated</th>
        </tr>
    </thead>
    {% for d in drafts %}
        <tr class="row -{{d.post_type}}">
            <th scope="row" class="_left"><span class="i--{{ 'book' if d.post_type == 'review' else 'newspaper' }} icon"></span> <a href="{{ d.get_editlink() }}">{{ d.title }}</a></th>
            <td class="_info">{{ d.date_updated.humanize() }}</td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endif %}

{% if scheduled %}
<div class="dashboard-card" id="scheduled">
    <h3 class="title">Scheduled Posts</h3>
    <p>Here's what you scheduled to be published in the future!</p>
    <table class="dashboard-report">
    <thead>
        <tr class="header _hide">
            <th scope="col">Title</th>
            <th scope="col">Last Updated</th>
        </tr>
    </thead>
    {% for d in scheduled %}
        <tr class="row -{{d.post_type}}">
            <th scope="row" class="_left"><span class="i--{{ 'book' if d.post_type == 'review' else 'newspaper' }} icon"></span> <a href="{{ d.get_editlink() }}">{{ d.title }}</a></th>
            <td class="_info">{{ d.date_published.to(config['TIMEZONE']).format('MMM DD [at] h:mm a') }}</td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endif %}
</main>
{% endblock body_main %}