{% extends 'admin/layouts/master.html' %}

{% macro page_url(page_num) -%}
    {{ url_for(mode, q=query_string|default(None), page=page_num) }}
{%- endmacro %}

{% block body_main %}
    {{ super() }}

<div class="o-wrapper">
{% if results and articles %}
    {% if results.pagecount > 1 %}
    <ul class="o-list-inline-flex u-margin-vertical">
        {% if results.pagenum > 1 %}
        <li class="u-margin-horizontal-small">
            <a href="{{ page_url(1) }}" class="c-btn" title="Go to first page">&larr; First</a>
        </li>
            {% if results.pagenum > 2 %}
            <li class="u-margin-horizontal-small">
                <a href="{{page_url(results.pagenum - 1) }}" title="Go to previous page" class="c-btn">&larr; Previous</a>
            </li>
            {%endif %}
        {% endif %}

        <li class="u-margin-horizontal-small">
            <span><strong>Page {{ results.pagenum }} of {{ results.pagecount }}</strong></span>
        </li>

        {% if results.pagenum < results.pagecount %}
            {% if results.pagenum < (results.pagecount - 1) %}
            <li class="u-margin-horizontal-small">
                <a href="{{ page_url(results.pagenum + 1) }}" title="Go to next page" class="c-btn">Next &rarr;</a>
            </li>
            {% endif %}
        
        <li class="u-margin-horizontal-small">
            <a href="{{ page_url(results.pagecount) }}" title="Go to last page" class="c-btn">Last &rarr;</a>
        </li>
            
        {% endif %}
    </ul>
    {%endif %}
{% endif %}

    {% include 'admin/views/results.html' %}
</div>
{% endblock body_main %}