{% extends 'admin/layouts/basic.html' %}
{% from 'macros.html' import render_field %}

{% block body_main %}
<header class="page-title">
    <h1 class="title">Lemonade Soapbox Admin</h1>
    <p class="subtitle">Sign-in required</p>
</header>

{{ notifications() }}

<form method="post" class="signin-form">
    <p class="text">Enter your email to receive a sign-in link.</p>
    <div class="field">
        <label title="enter email address">{{ signin_form.email }}</label>
        <input type="submit" value="Sign In">
    </div>
{{ signin_form.csrf_token }}
</form>
{% endblock %}