{% extends 'admin/layouts/master.html' %}
{% from 'macros.html' import render_field %}

{% block body_main %}
{{ super () }}

<form method="post" class="signin-form">

<div class="o-grid--column o-grid--middle u-margin-top">
    <p class="">Enter your email to receive a sign-in link.</p>
    <div class="o-grid o-grid--bottom">
        <div class="">
            {{ render_field(signin_form.email) }}
        </div>
        <div class="u-margin-left-small">
            <input type="submit" class="c-btn" value="Sign In"/>
        </div>
    </div>
</div>
{{ signin_form.csrf_token }}
</form>
{% endblock %}