{% extends 'admin/layouts/basic.html' %}
{% from 'macros.html' import render_field %}

{% block body_main %}
{{ super() }}

<form method="post" class="signin-form">
    <div class="form-field">
        {{ render_field(form.email, {'class': 'textinput'}) }}
    </div> 
    <div class="form-field">
        {{ render_field(form.password, {'class': 'textinput'}) }}
    </div>
    <div class="form-field">
        <button class="_button">Submit</button>
    </div>
{{ form.csrf_token }}
</form>
{% endblock %}